<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05e5df7d-2d94-4e40-8e7d-6c50c3890ca8" Alias="Case Tags - Sectoral Coverage - Dropdown" Level="1">
  <Info>
    <Name>Case Tags - Sectoral Coverage - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [],
  "Multiple": false
}]]></Config>
</DataType>