<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05e5df7d-2d94-4e40-8e7d-6c50c3890ca8" Alias="Case Tags - Sectoral Coverage - Dropdown" Level="1">
  <Info>
    <Name>Case Tags - Sectoral Coverage - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Economy-wide"
    },
    {
      "id": 2,
      "value": "Energy"
    },
    {
      "id": 3,
      "value": "Transport"
    },
    {
      "id": 4,
      "value": "Buildings"
    },
    {
      "id": 5,
      "value": "Industry"
    },
    {
      "id": 6,
      "value": "Waste"
    },
    {
      "id": 7,
      "value": "Agriculture"
    },
    {
      "id": 8,
      "value": "FOLU"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>