<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06b5069f-b13d-4b63-b390-95f5c06fb3ec" Alias="Country - References - Block List" Level="1">
  <Info>
    <Name>Country - References - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "eaed94e9-9f97-46fa-8eeb-177c75a14fb4",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{referenceName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>