<?xml version="1.0" encoding="utf-8"?>
<DataType Key="077965fa-0e1c-4bcc-a986-ace2aa08502f" Alias="Case Tags - Type of Policy instrument - Dropdown" Level="1">
  <Info>
    <Name>Case Tags - Type of Policy instrument - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Economic instruments - Direct investment"
    },
    {
      "id": 2,
      "value": "Economic instruments - Fiscal incentives"
    },
    {
      "id": 3,
      "value": "Economic instruments - Market based instruments"
    },
    {
      "id": 13,
      "value": "Regulatory instruments - Codes and standards"
    },
    {
      "id": 5,
      "value": "Regulatory instruments - Others"
    },
    {
      "id": 6,
      "value": "Information and education"
    },
    {
      "id": 7,
      "value": "Policy support"
    },
    {
      "id": 8,
      "value": "Research programme"
    },
    {
      "id": 9,
      "value": "Voluntary approach"
    },
    {
      "id": 10,
      "value": "Barrier removal"
    },
    {
      "id": 11,
      "value": "Climate strategy"
    },
    {
      "id": 12,
      "value": "Target"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>