<?xml version="1.0" encoding="utf-8"?>
<DataType Key="096115cc-3fd1-4933-a3c6-55934ecd36cb" Alias="Policy Inventory Block List" Level="1">
  <Info>
    <Name>Policy Inventory Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "f10d08d3-d4e4-4111-adeb-82ecc0e7d452",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{policyDocumentName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>