<?xml version="1.0" encoding="utf-8"?>
<DataType Key="102ffb43-406d-4276-9c4a-5cec85a259fd" Alias="Country Details Block List" Level="1">
  <Info>
    <Name>Country Details Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "b4029fbf-dfbd-4cb2-bb28-54f84a15e1a3",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{title}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>