<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a444e2c-d85b-4212-b2f5-c307db094bad" Alias="Case Policy Block - Impact Evaluation - Dropdown" Level="1">
  <Info>
    <Name>Case Policy Block - Impact Evaluation - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "ex-ante"
    },
    {
      "id": 2,
      "value": "ex-post"
    },
    {
      "id": 3,
      "value": "during implementation"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>