<?xml version="1.0" encoding="utf-8"?>
<DataType Key="30636785-eb3d-4cd8-aacf-60b6ac7c47a1" Alias="Methodology - Methodology Sections - Block List" Level="1">
  <Info>
    <Name>Methodology - Methodology Sections - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "fd99605b-6859-4c3e-bd0c-5c89d1609137",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{sectionHeader}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>