<?xml version="1.0" encoding="utf-8"?>
<DataType Key="317bfaf3-b615-4c74-8503-590c06b4c78d" Alias="Policy Inventory -  Numeric Year" Level="1">
  <Info>
    <Name>Policy Inventory -  Numeric Year</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 1800,
  "max": 3000
}]]></Config>
</DataType>