<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3e885224-2159-4913-9917-efd39cea821e" Alias="Case Tags - Target Group - Dropdown" Level="1">
  <Info>
    <Name>Case Tags - Target Group - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Policy makers"
    },
    {
      "id": 2,
      "value": "Industry"
    },
    {
      "id": 3,
      "value": "Individual"
    },
    {
      "id": 4,
      "value": "Households"
    },
    {
      "id": 5,
      "value": "Bussiness"
    },
    {
      "id": 6,
      "value": "Private sector"
    },
    {
      "id": 7,
      "value": "Project developer"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>