<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4266518f-6eac-499c-96d9-c6b5b141a95a" Alias="Climate Strategy Policies" Level="1">
  <Info>
    <Name>Climate Strategy Policies</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "b1b057f6-98d5-4dd7-983a-7f9f65eed82f",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{policyDocumentName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>