<?xml version="1.0" encoding="utf-8"?>
<DataType Key="517254b2-b56a-49d2-b6c1-11c69bcd9a31" Alias="Country Tag - Tags" Level="1">
  <Info>
    <Name>Country Tag - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "Countries",
  "StorageType": 1
}]]></Config>
</DataType>