<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62de1c29-a78c-487d-a826-088ae15cfd28" Alias="Case LockIn - LockInType - Dropdown" Level="1">
  <Info>
    <Name>Case LockIn - LockInType - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Technological (and infrastructural)"
    },
    {
      "id": 2,
      "value": "Institutional (and governance)"
    },
    {
      "id": 3,
      "value": "Behavioural"
    },
    {
      "id": 4,
      "value": "Economical"
    },
    {
      "id": 5,
      "value": "Developmental"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>