<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67d3d988-99d8-4636-a689-2610ba6ac4bb" Alias="Case Tags - Jurisdiction - Dropdown" Level="1">
  <Info>
    <Name>Case Tags - Jurisdiction - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "National"
    },
    {
      "id": 2,
      "value": "State/Region"
    },
    {
      "id": 3,
      "value": "City"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>