<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6bf57da4-5645-4bdc-b834-e8339c21f4a8" Alias="Case Lock In Block List" Level="1">
  <Info>
    <Name>Case Lock In Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{negativePositive}}{{lockInType}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>