<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75f286ab-876e-4b22-90a8-eb1c545e6a88" Alias="Policy Inventory Block - Source Link - Repeatable textstrings" Level="1">
  <Info>
    <Name>Policy Inventory Block - Source Link - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>