<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78779a41-7d70-47d2-bedf-09def0acc880" Alias="Case Policy Block - Impact Level - Dropdown" Level="1">
  <Info>
    <Name>Case Policy Block - Impact Level - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "High"
    },
    {
      "id": 2,
      "value": "Medium"
    },
    {
      "id": 3,
      "value": "Low"
    },
    {
      "id": 4,
      "value": "Other"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>