<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92897bc6-a5f3-4ffe-ae27-f2e7e33dda49" Alias="Truefalse (1)" Level="1">
  <Info>
    <Name>Truefalse (1)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "False",
  "LabelOn": "True",
  "ShowLabels": true
}]]></Config>
</DataType>