<?xml version="1.0" encoding="utf-8"?>
<DataType Key="93ccedc2-8599-457a-92fd-1914c59a4e20" Alias="Content - Block Grid" Level="1">
  <Info>
    <Name>Content - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "key": "e49f9491-5510-4950-8b5f-de9f17e9fb95",
          "alias": "Row",
          "createLabel": null,
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": null,
          "specifiedAllowance": [
            {
              "elementTypeKey": null,
              "groupKey": "b79cb881-41e4-4aed-b7c3-8e76e76ca70a",
              "minAllowed": null,
              "maxAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "34132938-ad39-4950-96fb-027ec0b574f7",
      "settingsElementTypeKey": "3ed59193-30b6-4aae-9b4e-3b88200e7f6a",
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "6700d226-59e2-4f71-a468-418e2d53dc61"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "key": "a999dcf7-f95f-4002-9956-2502d280ff60",
          "alias": "Column",
          "createLabel": null,
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": null,
          "specifiedAllowance": [
            {
              "elementTypeKey": null,
              "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2",
              "minAllowed": null,
              "maxAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "474d5e7b-ec14-4bd0-b3dc-8894ed2ee58b",
      "settingsElementTypeKey": "cfa3b129-b016-44e5-9a8c-c1734a1e27e6",
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b79cb881-41e4-4aed-b7c3-8e76e76ca70a"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "56fb05f5-f8e2-4ca5-99ca-e4818e5ee536",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": true,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "46781f2a-d181-4b74-9c21-e7ceb8a31175",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": true,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "f6107ed4-c7c5-4ff8-804b-644c88f0501f",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b79cb881-41e4-4aed-b7c3-8e76e76ca70a"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "6e09df33-4c11-45bd-ab85-0b1cd480395e",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "076dc966-a913-42cf-b379-f046135425ed",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "db0c20cf-039b-4cd0-9b9b-557c2efc2422",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "5a48ae30-c72a-46fd-8351-56f403ecbf6d",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "fcfaaa12-4bf9-4723-9dbd-73f7d9fa2c96",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "5b47f8c1-3597-4872-b2f5-9f6eb69d558d",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "4227e035-7ddc-43d9-acd5-4efd789ed087",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "f5102fec-cf16-4110-9b34-8089faeb31d1",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "b08d8786-bd14-452f-abef-9e65ed641971",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "97f42d6d-0fac-43b9-86a1-b1fd2dc9b76c",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "90a49491-d056-462b-8a1b-308476a4b46e",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "5d508b0d-de08-45d1-b294-1f516c6b1318",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    },
    {
      "columnSpanOptions": [
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "131c3ee8-1c31-4832-b774-b3d4346e3988",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "inlineEditing": true,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "969623ba-f3cd-479f-b909-b4726d7db6f2"
    }
  ],
  "BlockGroups": [
    {
      "key": "6700d226-59e2-4f71-a468-418e2d53dc61",
      "name": "Layout"
    },
    {
      "key": "b79cb881-41e4-4aed-b7c3-8e76e76ca70a",
      "name": "Column"
    },
    {
      "key": "969623ba-f3cd-479f-b909-b4726d7db6f2",
      "name": "Content"
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "MaxPropertyWidth": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "CreateLabel": null
}]]></Config>
</DataType>