<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97b60ca9-357b-40aa-87df-824da194cef0" Alias="Case Tags - Institutional Requirement - Dropdown" Level="1">
  <Info>
    <Name>Case Tags - Institutional Requirement - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [],
  "Multiple": false
}]]></Config>
</DataType>