<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f32939b-cfca-480b-90a3-d0004b248b8e" Alias="Case Tags - Enforcement Level Dropdown - Dropdown" Level="1">
  <Info>
    <Name>Case Tags - Enforcement Level Dropdown - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [],
  "Multiple": false
}]]></Config>
</DataType>