<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a92b1a1b-b9ce-44e6-ba33-2d77a7fc58bb" Alias="Body Text - Rich Text Editor" Level="1">
  <Info>
    <Name>Body Text - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog",
      "subscript",
      "superscript"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "inline"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>