<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aed7d85b-b597-4550-9016-886e7f1a7c7c" Alias="Case LockIn - PositiveNegative - Toggle" Level="1">
  <Info>
    <Name>Case LockIn - PositiveNegative - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Negative",
  "LabelOn": "Positive",
  "ShowLabels": true
}]]></Config>
</DataType>