<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be9ebe3f-768f-42a4-acb1-f4a43908e8e6" Alias="Country - Email - Email address" Level="1">
  <Info>
    <Name>Country - Email - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>