<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4ca5308-f6ce-4fef-b2dc-e1a6a00ebdd0" Alias="Case - Tags" Level="1">
  <Info>
    <Name>Case - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "Case",
  "StorageType": 1
}]]></Config>
</DataType>