<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d23987c2-36a6-4347-b61a-3c2d884a2221" Alias="Pilot Country - Dropdown" Level="1">
  <Info>
    <Name>Pilot Country - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Singapore"
    },
    {
      "id": 2,
      "value": "Indonesia"
    },
    {
      "id": 3,
      "value": "Malaysia"
    },
    {
      "id": 4,
      "value": "Cambodia"
    },
    {
      "id": 5,
      "value": "Laos"
    },
    {
      "id": 6,
      "value": "Brunei"
    },
    {
      "id": 7,
      "value": "Philippines"
    },
    {
      "id": 8,
      "value": "Thailand"
    },
    {
      "id": 9,
      "value": "Viet Nam"
    },
    {
      "id": 10,
      "value": "Australia"
    },
    {
      "id": 11,
      "value": "India"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>