<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e0cc5362-ad31-4241-bfb2-13e902945e38" Alias="Countries - Country List - Multinode Treepicker" Level="1">
  <Info>
    <Name>Countries - Country List - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "country",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>