<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e91d6c93-7cd4-4a7b-a9aa-47cdc545a897" Alias="Case Country Block List" Level="1">
  <Info>
    <Name>Case Country Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{traction}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>