<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e95c17f4-5cee-44be-80f1-6b81f820bdc9" Alias="Case Country Context - Traction - Dropdown" Level="1">
  <Info>
    <Name>Case Country Context - Traction - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Geographical"
    },
    {
      "id": 2,
      "value": "Historical competitive advantage/disadvantage"
    },
    {
      "id": 3,
      "value": "End-use technology adoption/infrustructure"
    },
    {
      "id": 4,
      "value": "Strengthning policy instruments"
    },
    {
      "id": 5,
      "value": "Behavioural and socio-cultural"
    },
    {
      "id": 6,
      "value": "Institutional framework and governance structure"
    },
    {
      "id": 7,
      "value": "Market structure for business and finance"
    },
    {
      "id": 8,
      "value": "Other"
    },
    {
      "id": 9,
      "value": "Combination"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>