<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e996d66c-3a2b-4936-80aa-b6f21e7ec04f" Alias="Case - Case References - Block List" Level="1">
  <Info>
    <Name>Case - Case References - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "ed31ff00-2e6d-408f-9755-113d0cf4b9fb",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{referenceName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>