<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7df72ef-4998-4964-a132-4f18497212ba" Alias="Methodology - References - Block List" Level="1">
  <Info>
    <Name>Methodology - References - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "8cd64750-cfe4-44d5-b8d9-4f2c9b65f168",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{referenceName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>