<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbc8b817-5964-4cea-a7da-fd95d774e4bd" Alias="Case Tags - Monitoring And Evaluation - Dropdown" Level="1">
  <Info>
    <Name>Case Tags - Monitoring And Evaluation - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [],
  "Multiple": false
}]]></Config>
</DataType>