@model GMPA.Core.Models.ViewModels.CaseViewModel
@{
    Layout = "MainWithNav.cshtml";
}

<div class="main-with-nav">
    @if (Model.BlockGrid != null)
    {
        @await Html.PartialAsync("~/Views/Partials/CustomGrid/RenderGrid.cshtml", Model.BlockGrid)
    }
</div>