@model GMPA.Core.Models.ViewModels.CountryViewModel
@{
    Layout = "Main.cshtml";
}

<br/>
<a class="return" href="/">← Back to the map</a>
<br/>

<h1>
    @Model.PageTitle
</h1>
<p>
    Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap
    Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap
    Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap
</p>

@if (Model.Accordion != null)
{
    foreach (var item in Model.Accordion)
    {
        <p>@item.Title</p>
        @Html.Raw(item.BodyText)
    }
}

<style>
    .return {
        text-decoration: none;
    }
</style>