@model GMPA.Core.Models.ViewModels.CountryViewModel
@{
    Layout = "Main.cshtml";
}




<h1 style="text-align: center;">
    @Model.PageTitle
</h1>
<p>
    Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap
    Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap
    Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap
</p>

@if (Model.Accordion != null)
{
    foreach (var item in Model.Accordion)
    {
        <p>@item.Title</p>
        @Html.Raw(item.BodyText)
    }
}