@using GMPA.Core.Models.Umbraco;
@model GMPA.Core.Models.ViewModels.CountriesViewModel
@{
    Layout = "MainWithNav.cshtml";
}

<div class="MainWithNav">
    <div style="background:#f4f7fa; padding:20px">
        <h1>All Countries</h1>
        <ul style="list-style-type:none; padding-left:0; column-count: 4">
            @foreach (var country in Model.Countries)
            {
                @if (country.Active.First() == "True")
                {
                    <li style="color:#2c8090"><a href="@country.Url()" style="color:#2c8090; text-decoration:none">@country.Name</a></li>
                }
                else
                {
                    <li style="color:#95bfc7">@country.Name</li>
                }
            }
        </ul>
    </div>
</div>