@model GMPA.Core.Models.ViewModels.CountryViewModel
@{
    Layout = "MainWithNav.cshtml";
}



<div class="MainWithNav">
    <h1 style="text-align: center;">
        @Model.PageTitle
    </h1>
</div>

<div class="MainWithNav">
    <p>
        Text that should wrapText that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrapText that should wrapText that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap Text that should wrap
    </p>
</div>
