@model GMPA.Core.Models.ViewModels.CountryViewModel
@{
    Layout = "MainWithNav.cshtml";
}



<div class="MainWithNav">
    <h1 style="max-width: calc(100% - 240px);
               text-align: center;
               padding: 20px;">
        @Model.PageTitle
    </h1>
</div>
