@using Newtonsoft.Json

@model HomeViewModel
@{
    Layout = "Main.cshtml";

    var pageName = "home";
    var countryList = JsonConvert.SerializeObject(Model.Countries);

    <environment include="Development">
        @{
            SmidgeHelper.RequiresJs($"~/script/{pageName}.page.ts");
        }
    </environment>

    <environment exclude="Development">
        @{
            SmidgeHelper.RequiresJs($"~/dist/script/{pageName}.page.js");
            SmidgeHelper.RequiresCss($"~/dist/css/{pageName}.app.css");
        }
    </environment>
}


<div id="home">
    <home-page :countries="@countryList"></home-page>
</div>


@if (Model.BlockGrid != null)
{
    @await Html.PartialAsync("~/Views/Partials/CustomGrid/RenderGrid.cshtml", Model.BlockGrid)
}