@model GMPA.Core.Models.ViewModels.HomeViewModel
@{
	Layout = "Main.cshtml";
}

<div class="d-flex flex-column align-items-stretch bg-white" style="width: 10%;overflow:auto; height:90%">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">a</li>
        <li class="list-group-item">b</li>
        <li class="list-group-item">c</li>
    </ul>
</div>