@{
    Layout = "Main.cshtml";
}
<div style="width: 150px;
    height: calc(100vh - 75px);
    position: fixed;
    top: 85px;
    left: 0;">
    <ul class="side-nav-list">
        <li class="side-nav-list-item">
            <span class="side-nav-list-item-text">
                a
            </span>
        </li>
        <li class="side-nav-list-item">
            <span class="side-nav-list-item-text">
                b
            </span>
        </li>
        <li class="side-nav-list-item">
            <span class="side-nav-list-item-text">
                c
            </span>
        </li>
        <li class="side-nav-list-item">
            <span class="side-nav-list-item-text">
                <a href="/countries">Countries</a>
            </span>
        </li>
    </ul>
</div>

@RenderBody()