@{
    Layout = "Main.cshtml";
}

<div class="container-fluid p-0">
    <div class="row p-0">
        <div class="col-2 shadow h-50 sticky-top t-100" style="background: white">
            <ul class="side-nav-list">
                <li class="side-nav-list-item">
                    <span class="side-nav-list-item-text">
                        Cases
                    </span>
                </li>
                <li class="side-nav-list-item">
                    <span class="side-nav-list-item-text">
                        Policies
                    </span>
                </li>
            </ul>
            <partial name="CountriesPartials/CountriesSideNavPartial" model="Model.Countries" />
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
    </div>
</div>
