@{
    Layout = "Main.cshtml";
}
<div style="background: black;
    width: 200px;
    height: calc(100vh - 75px);
    position: fixed;
    top: 85px;
    left: 0;">
    <div class="bg-white">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">a</li>
            <li class="list-group-item">b</li>
            <li class="list-group-item">c</li>
            <li class="list-group-item"><a href="/countries">Countries</a></li>
        </ul>
    </div>
</div>

@RenderBody()