# Generic
bin
obj
.vs
*.user
node_modules
/dist
.vscode

# Frontend
/Src/GMPA.Frontend/node_modules
/Src/GMPA.Web/wwwroot/dist

# Umbraco
/Src/GMPA.Web/wwwroot/umbraco
/Src/GMPA.Web/umbraco/*
!/Src/GMPA.Web/umbraco/Deploy
/Src/GMPA.Web/Smidge

# Umbraco ModelsBuilder
/Src/GMPA.Core/Models/Umbraco/ood.flag

# Umbraco Deploy
/Src/GMPA.Web/umbraco/Deploy/*
!/Src/GMPA.Web/umbraco/Deploy/Revision

# Other
/Res
appsettings.user.json
