<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="10481906-a316-4ad2-be84-72d52a474dff" Alias="cases" Level="1">
  <Info>
    <Name>Cases</Name>
    <Icon>icon-file-cabinet color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Cases</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="59bab912-1658-4ddf-bbd5-f5bad6e7b3b9">Cases</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b60fbb84-79da-4926-9f1d-8079a1426d76" SortOrder="0">case</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>