<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5b47f8c1-3597-4872-b2f5-9f6eb69d558d" Alias="monitoringAndEvaluation" Level="3">
  <Info>
    <Name>Monitoring and evaluation</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Case+Drop+Downs</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>933fa36a-1314-4a87-9f6a-cea2038f2ee7</Key>
      <Name>Monitoring And Evaluation Dropdown</Name>
      <Alias>monitoringAndEvaluationDropdown</Alias>
      <Definition>fbc8b817-5964-4cea-a7da-fd95d774e4bd</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="caseTags">Case Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>af64535f-c0b9-46cf-8d0a-bc7b3ad78127</Key>
      <Caption>Case Tags</Caption>
      <Alias>caseTags</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>