<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d88f3d9-c661-4f34-9a0e-d33b54d8e2ff" Alias="methodology" Level="1">
  <Info>
    <Name>Methodology</Name>
    <Icon>icon-info color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Methodology</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="59d31004-db5f-41e3-8520-f851dda7777d">Methodology</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0d7a060c-9eb1-42a9-83c7-712a1cfc94c5</Key>
      <Name>BodyText</Name>
      <Alias>bodyText</Alias>
      <Definition>0c8a97e9-c56e-4e30-93f7-fc1ce06a588c</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="text/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0320727a-b4d8-4194-b17e-4875e51b67b4</Key>
      <Name>Methodology Sections</Name>
      <Alias>methodologySections</Alias>
      <Definition>30636785-eb3d-4cd8-aacf-60b6ac7c47a1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="text/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1c755c9e-ba73-4528-8582-58a0a178e8ad</Key>
      <Name>References</Name>
      <Alias>references</Alias>
      <Definition>f7df72ef-4998-4964-a132-4f18497212ba</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="references">References</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8aaa148a-ba39-4ca3-add9-fcd0a81f2934</Key>
      <Caption>Content</Caption>
      <Alias>text/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8e5deadd-68ea-406d-9100-4032958e7b1f</Key>
      <Caption>References</Caption>
      <Alias>references</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d30c30a3-4369-4f07-aa63-b549e8dc7b0f</Key>
      <Caption>Text</Caption>
      <Alias>text</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>