<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="72d346e8-b90c-475d-a7cf-a3a1857bbecb" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ed3b66c8-7040-4c6c-b57a-d633d9eaacfe">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ca20f2a8-fa82-443c-82d6-8baf17bf62fd" SortOrder="0">aboutTheGMPA</ContentType>
    <ContentType Key="e8991e2d-5f7b-49b2-aa92-c8cb34e9f82d" SortOrder="1">default</ContentType>
    <ContentType Key="10481906-a316-4ad2-be84-72d52a474dff" SortOrder="2">cases</ContentType>
    <ContentType Key="ac83fe52-41d6-4596-9959-24482b2dfa59" SortOrder="3">countries</ContentType>
    <ContentType Key="6d88f3d9-c661-4f34-9a0e-d33b54d8e2ff" SortOrder="4">methodology</ContentType>
    <ContentType Key="19d8766e-a93b-4342-abb4-a04b0e03a9da" SortOrder="5">policies</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>16d00e25-2172-4b49-9d6a-f99e217a6938</Key>
      <Name>FavIcon</Name>
      <Alias>favIcon</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="icon">Icon</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>83781008-d232-497a-9ac7-83e852e0abd5</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>118ebe7e-1458-495e-ab5d-52914577ced9</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="title">Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5bb42922-6c68-4ec8-a111-6ddf3e662af1</Key>
      <Caption>Title</Caption>
      <Alias>title</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ad914e37-6c46-4e00-860d-f7882415ade3</Key>
      <Caption>Icon</Caption>
      <Alias>icon</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>