<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac83fe52-41d6-4596-9959-24482b2dfa59" Alias="countries" Level="1">
  <Info>
    <Name>Countries</Name>
    <Icon>icon-globe-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Countries</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="54400ca5-cdfe-43ea-85ac-6d82b5d77b08">Countries</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ef889f67-e0d0-406c-b17e-6936c2834c86" SortOrder="0">country</ContentType>
    <ContentType Key="00386579-6d3a-4c1e-9c90-d649b1c1ed92" SortOrder="1">continent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>