<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b08d8786-bd14-452f-abef-9e65ed641971" Alias="sectoralCoverage" Level="3">
  <Info>
    <Name>Sectoral Coverage</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Case+Drop+Downs</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8f7505a8-982e-4193-94fb-049dfb83098e</Key>
      <Name>Sectoral Coverage Dropdown</Name>
      <Alias>sectoralCoverageDropdown</Alias>
      <Definition>05e5df7d-2d94-4e40-8e7d-6c50c3890ca8</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="caseTags">Case Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dbdf59ec-3c99-4ea9-ab13-e6230ea3e2db</Key>
      <Caption>Case Tags</Caption>
      <Alias>caseTags</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>