<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b60fbb84-79da-4926-9f1d-8079a1426d76" Alias="case" Level="1">
  <Info>
    <Name>Case</Name>
    <Icon>icon-files color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Case</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8dbf814c-b0e7-4947-a2a7-df45c3781cef">Case</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f91bcbd9-66d2-4f1c-8dec-0239d118fb3a</Key>
      <Name>Case Country Block List</Name>
      <Alias>caseCountryBlockList</Alias>
      <Definition>e91d6c93-7cd4-4a7b-a9aa-47cdc545a897</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="caseTractions">Case Tractions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7e609c30-2e28-4ec8-bc75-d60a40e0c858</Key>
      <Name>CaseIntroduction</Name>
      <Alias>caseIntroduction</Alias>
      <Definition>b7f9f78b-5abe-409b-b9a6-55a09bf23d4b</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="caseInformation">Case Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b0db0a75-97dd-4605-bb3d-cfc46196d52b</Key>
      <Name>Case Lock In Block List</Name>
      <Alias>caseLockInBlockList</Alias>
      <Definition>6bf57da4-5645-4bdc-b834-e8339c21f4a8</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="caseLockIns">Case Lock Ins</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>37eabcc6-2ac2-4a14-af99-ac99c46ca0af</Key>
      <Name>Case Policy Block List</Name>
      <Alias>casePolicyBlockList</Alias>
      <Definition>5319ce9c-86b1-4c78-8cd4-1b4d1c6bdce9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="casePolicies">Case Policies</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8a56820b-eb7d-47d7-9921-9c22faae6f78</Key>
      <Name>SectorTag</Name>
      <Alias>sectorTag</Alias>
      <Definition>c4ca5308-f6ce-4fef-b2dc-e1a6a00ebdd0</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="caseInformation">Case Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0a4be4e-ead7-4e82-a812-d530dcfb7f97</Key>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Definition>c4ca5308-f6ce-4fef-b2dc-e1a6a00ebdd0</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="caseInformation">Case Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0c9e8ff6-9a2a-4733-abdf-abed38dcce82</Key>
      <Caption>Case Lock Ins</Caption>
      <Alias>caseLockIns</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>593bf49c-edf2-4a91-9659-d7f802aa0ebb</Key>
      <Caption>Case Tractions</Caption>
      <Alias>caseTractions</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>94a9b316-00e2-449b-88cf-16be0e2c3834</Key>
      <Caption>Case Information</Caption>
      <Alias>caseInformation</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a4328128-5e48-4bc3-adc0-11ab7e3eafc5</Key>
      <Caption>Case Policies</Caption>
      <Alias>casePolicies</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>