<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca20f2a8-fa82-443c-82d6-8baf17bf62fd" Alias="aboutTheGMPA" Level="1">
  <Info>
    <Name>About the GMPA</Name>
    <Icon>icon-info color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>AboutTheGMPA</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d6fc6d15-d5a3-4252-87e2-ce59285bd989">AboutTheGMPA</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2044a68c-20bc-4a89-a866-9b6dc214f4c9</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>a92b1a1b-b9ce-44e6-ba33-2d77a7fc58bb</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bodyText">Body Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4fe8e865-a12c-4ad3-8cfa-cc356fb73131</Key>
      <Caption>Body Text</Caption>
      <Alias>bodyText</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>