<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fcfaaa12-4bf9-4723-9dbd-73f7d9fa2c96" Alias="jurisdiction" Level="3">
  <Info>
    <Name>Jurisdiction</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Case+Drop+Downs</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dee65386-32f1-42a8-84f2-ab189e1ca723</Key>
      <Name>Jurisdiction</Name>
      <Alias>jurisdictionDropdown</Alias>
      <Definition>67d3d988-99d8-4636-a689-2610ba6ac4bb</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="caseTags">Case Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0c0b20cf-5d4a-49f6-a2e6-d8a0e938d1fb</Key>
      <Caption>Case Tags</Caption>
      <Alias>caseTags</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>