<?xml version="1.0" encoding="utf-8"?>
<Content Key="1321c957-cfb3-4b6d-adb4-06e0557f644d" Alias="Template Country" Level="3">
  <Info>
    <Parent Key="a9867545-94b7-4de3-9af4-8ea18c7b4062">Countries</Parent>
    <Path>/Home/Countries/TemplateCountry</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2023-10-24T09:30:07</CreateDate>
    <NodeName Default="Template Country" />
    <SortOrder>55</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="11f5b109-27f2-47ec-b451-5d1d21daf03e">Country</Template>
  </Info>
  <Properties>
    <accordionItem>
      <Value><![CDATA[]]></Value>
    </accordionItem>
    <active>
      <Value><![CDATA[]]></Value>
    </active>
    <continent>
      <Value><![CDATA[[
  "Europe"
]]]></Value>
    </continent>
    <normalTextBlockList>
      <Value><![CDATA[]]></Value>
    </normalTextBlockList>
  </Properties>
</Content>