<?xml version="1.0" encoding="utf-8"?>
<Content Key="27869586-9aec-4511-bd23-44301ab170b1" Alias="Norway: EV policy" Level="3">
  <Info>
    <Parent Key="ee7fee6e-f9c2-45ca-ac3d-0d269e08e344">Cases</Parent>
    <Path>/GMPA/Cases/NorwayEVPolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>case</ContentType>
    <CreateDate>2023-11-06T16:00:29</CreateDate>
    <NodeName Default="Norway: EV policy" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8dbf814c-b0e7-4947-a2a7-df45c3781cef">Case</Template>
  </Info>
  <Properties>
    <caseCountryBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/43a9aba66a0e4eeba841f5e94eedb8f9"
      },
      {
        "contentUdi": "umb://element/1d7cfc79dc59438b833a5cc8be144d14"
      },
      {
        "contentUdi": "umb://element/a28814b3f3ac43f99a64edd4c350316b"
      },
      {
        "contentUdi": "umb://element/517e6f494c2b43ac93df4da9442a4f46"
      },
      {
        "contentUdi": "umb://element/da040b6e0200494f8c62da46d9986757"
      },
      {
        "contentUdi": "umb://element/f20bcc95514843a098f3376bf2011816"
      },
      {
        "contentUdi": "umb://element/d9be26d56a374eed9d1c76b8be4f13ec"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/43a9aba66a0e4eeba841f5e94eedb8f9",
      "traction": [
        "Historical competitive advantage/disadvantage"
      ],
      "descriptionOfEnablingFactor": "<p>Abundant hydro electricity, low price and flexibility incentivises electrification and electric vehicles (EVs) [2]</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/1d7cfc79dc59438b833a5cc8be144d14",
      "traction": [
        "End-use technology adoption/infrustructure"
      ],
      "descriptionOfEnablingFactor": "<p>Private cars and well-developed road<br>networks enable the transition to<br>private electric vehicles (EVs). [3]</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/a28814b3f3ac43f99a64edd4c350316b",
      "traction": [
        "Institutional framework and governance structure"
      ],
      "descriptionOfEnablingFactor": "<p>The transport sector as a key priority<br>receives public funding for research and development. [4]</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/517e6f494c2b43ac93df4da9442a4f46",
      "traction": [
        "Institutional framework and governance structure"
      ],
      "descriptionOfEnablingFactor": "<p>Revenue from oil and gas transferred to investments in research and development, infrastructure and integration, and for incentives. High taxation on fossil fuels. [2]</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/da040b6e0200494f8c62da46d9986757",
      "traction": [
        "Behavioural and socio-cultural"
      ],
      "descriptionOfEnablingFactor": "<p>General consciousness in public regarding climate change and its impact. [6]</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/f20bcc95514843a098f3376bf2011816",
      "traction": [
        "Other"
      ],
      "descriptionOfEnablingFactor": "<p>Air pollution from transport sector is major environmental and health concern in Norway and the electric vehicle (EV) programme is seen as an efficient way to reduce air pollution. [5]</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/d9be26d56a374eed9d1c76b8be4f13ec",
      "traction": [
        "Institutional framework and governance structure"
      ],
      "descriptionOfEnablingFactor": "<p>Consistent cross-party political agreement and government funding drives the electric vehicle (EV) initiative. [5] </p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseCountryBlockList>
    <caseIntroduction>
      <Value><![CDATA[<p>Between 2010-2022, electric vehicle (EV) stock increased from 0.1% to 27%.</p>
<p>As of 2022:<br>BEV stock: 590,000<br>PHEV stock: 200,000<br>Public fast charging: 9,100<br>Public slow charging: 15,000<br>Share of EV stock: 27%<br>Share of EV sales: 88% (highest globally) [1]</p>]]></Value>
    </caseIntroduction>
    <caseLockInBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cdaea65c817f48efb16e0c79a25c77f6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/cdaea65c817f48efb16e0c79a25c77f6",
      "negativePositive": "0",
      "lockInType": [
        "Economical"
      ],
      "bodyText": "<p>The push to persuade households to purchase zero emission vehicles (VEVs) has come at a price. The policy has contributed to a sizeable revenue decline from car-related excise duties. The tax expenditure from the VAT exemption reached NOK 11.3 billion (USD 1.3 billion) in 2021.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseLockInBlockList>
    <casePolicyBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2b0c194c5c1f4fb8af1104e371a81519"
      },
      {
        "contentUdi": "umb://element/d6c27efbdc9b4161b0ee5490760623e5"
      },
      {
        "contentUdi": "umb://element/613e056e4c5341e096db37687dd3e66c"
      },
      {
        "contentUdi": "umb://element/7e64eaa34bcd497b9b9497c3a594a98b"
      },
      {
        "contentUdi": "umb://element/177cecf5dbbe4c1296c1fbfdf11c7bfb"
      },
      {
        "contentUdi": "umb://element/20dc9aacf0ef48baac4b89e81adfd319"
      },
      {
        "contentUdi": "umb://element/46fad58e8ebf47c39e116d9bc24a57d2"
      },
      {
        "contentUdi": "umb://element/58e9175a4c924c38a49b4f276711c0ee"
      },
      {
        "contentUdi": "umb://element/8da0d54d075b44e5a3dc02c922ec1bfb"
      },
      {
        "contentUdi": "umb://element/ee458f2b32144499ac00f2e173503c22"
      },
      {
        "contentUdi": "umb://element/13ff1341b4474817867f067956e14c59"
      },
      {
        "contentUdi": "umb://element/8abffad3bdd04b48bd04536299e4f50f"
      },
      {
        "contentUdi": "umb://element/98e2118f3b96460caea104f36135175e"
      },
      {
        "contentUdi": "umb://element/c29d231989e644b09b44abe74eb6a653"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/2b0c194c5c1f4fb8af1104e371a81519",
      "title": "Policy 1",
      "instrumentsText": "<p>Vat (25%) exemption for electric cars for the period 2001-2022. From 2023, Norway will add 25% VAT on purchase prices over 500,000 Norwegian Kroner. [7]</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Individual"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2001-01-01T00:00:00",
      "endDateOfImplementation": "2022-01-01T00:00:00",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": [
        "ex-post"
      ],
      "impactIndicator": "<p>The VAT exemption played a pivotal role in driving the rapid adoption of electric cars in Norway. It made electric vehicles significantly more affordable compared to their gasoline or diesel counterparts, encouraging consumers to make the switch to electric.</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/d6c27efbdc9b4161b0ee5490760623e5",
      "title": "Policy 2",
      "instrumentsText": "<p>Only zero emission vehicles (ZEVs) will be sold from 2022 for cars and from 2025 for city buses. [9]</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Regulatory instruments - Others"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Bussiness"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2022-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": "",
      "impactEvaluation": "",
      "impactIndicator": "<p>Insufficient data to assess impact due to recent implementation.</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/613e056e4c5341e096db37687dd3e66c",
      "title": "Policy 3",
      "instrumentsText": "<p>Light-duty vehicles (LDVs) emissions standard target set at 85 gCO2/km for 2021 and to reach zero gCO2/km by 2025. [9]</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Regulatory instruments - Codes and standards"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Policy makers"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2017-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": "",
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/7e64eaa34bcd497b9b9497c3a594a98b",
      "title": "Policy 4",
      "instrumentsText": "<p>85% of government vehicles must be “zero emission” by<br>2015; 60% of busses electrified in Oslo by 2025. [8]</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Target"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Policy makers"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "",
      "endDateOfImplementation": "",
      "impactLevel": "",
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/177cecf5dbbe4c1296c1fbfdf11c7bfb",
      "title": "Policy 5",
      "instrumentsText": "<p>Registration tax exemptions according to CO2 and Nox emissions; reduced effect on plug-in hybrid electric vehicles (PHEVs). VAT exemption for Battery Electric Vehicles (BEVs) (1996-2021). Reduced tax from 2021. Full tax from 2022. [8]</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Individual"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "1996-01-01T00:00:00",
      "endDateOfImplementation": "2021-01-01T00:00:00",
      "impactLevel": "",
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/20dc9aacf0ef48baac4b89e81adfd319",
      "title": "Policy 6",
      "instrumentsText": "<p>50% reduced company car tax (2009-2017), reduced to 40% (2018-2021) and 20% from 2022. [8]</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Bussiness"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2009-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": "",
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/46fad58e8ebf47c39e116d9bc24a57d2",
      "title": "Policy 7",
      "instrumentsText": "<p>Enova subsidises fast-chargers through competitive bidding. [11]</p>",
      "policyDecision": [
        "Supportive"
      ],
      "policyOrigin": [
        "Other"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Private sector"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2017-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": "",
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/58e9175a4c924c38a49b4f276711c0ee",
      "title": "Policy 8",
      "instrumentsText": "<p>Parking for electric vehicles (EV) - for some municipalities it is free. The rest have decided to apply a fee of not more than 50% of the fee for fossil-fuel cars. [9]</p>",
      "policyDecision": [
        "Supportive"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "City"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Individual"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2018-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": "",
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/8da0d54d075b44e5a3dc02c922ec1bfb",
      "title": "Policy 9",
      "instrumentsText": "<p>No charges on toll roads (1997- 2017).<br>No charges on ferries (2009- 2017). [8]</p>",
      "policyDecision": [
        "Supportive"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Individual"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "1996-01-01T00:00:00",
      "endDateOfImplementation": "2021-01-01T00:00:00",
      "impactLevel": "",
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/ee458f2b32144499ac00f2e173503c22",
      "title": "Policy 10",
      "instrumentsText": "<p>Database for charging stations. [10]</p>",
      "policyDecision": [
        "Re-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Information and education"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": "",
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Individual"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2011-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": "",
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/13ff1341b4474817867f067956e14c59",
      "title": "Policy 11",
      "instrumentsText": "<p>Special electric vehicle (EV) license plates. [11]</p>",
      "policyDecision": [
        "Supportive"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Information and education"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": "",
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Individual"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2015-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": "",
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/8abffad3bdd04b48bd04536299e4f50f",
      "title": "Policy 12",
      "instrumentsText": "<p>Fast charging stations every 50 km on main roads . [11]</p>",
      "policyDecision": [
        "Re-active"
      ],
      "policyOrigin": "",
      "typeOfPolicyInstrumentDropdown": [
        "Barrier removal"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": "",
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Individual"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "",
      "endDateOfImplementation": "",
      "impactLevel": "",
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/98e2118f3b96460caea104f36135175e",
      "title": "Policy 13",
      "instrumentsText": "<p>Fiscal compensation for the scrapping of fossil vans when converting to a zero-emission van. [9]</p>",
      "policyDecision": [
        "Supportive"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Individual"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2018-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": "",
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/c29d231989e644b09b44abe74eb6a653",
      "title": "Policy 14",
      "instrumentsText": "<p>Oslo electric vehicle supply equipment (EVSE) procurement installation: establishes 400 charging points from 2008-2011.</p>",
      "policyDecision": [
        "Supportive"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "City"
      ],
      "enforcementLevel": "",
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": "",
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2008-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": "",
      "impactEvaluation": "",
      "impactIndicator": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </casePolicyBlockList>
    <sectorTag>
      <Value><![CDATA[[
  "Transport"
]]]></Value>
    </sectorTag>
    <tags>
      <Value><![CDATA[[
  "Spain",
  "Europe",
  "Transport"
]]]></Value>
    </tags>
  </Properties>
</Content>