<?xml version="1.0" encoding="utf-8"?>
<Content Key="27b310ec-33e4-4f3a-93dc-dcc0add13839" Alias="Climate Smart Agriculture: Ghana" Level="3">
  <Info>
    <Parent Key="ee7fee6e-f9c2-45ca-ac3d-0d269e08e344">Cases</Parent>
    <Path>/GMPA/Cases/ClimateSmartAgricultureGhana</Path>
    <Trashed>false</Trashed>
    <ContentType>case</ContentType>
    <CreateDate>2023-11-07T08:58:20</CreateDate>
    <NodeName Default="Climate Smart Agriculture: Ghana" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8dbf814c-b0e7-4947-a2a7-df45c3781cef">Case</Template>
  </Info>
  <Properties>
    <caseCountryBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0d08fdbf53a444a1b1eaff3a9ed2466b"
      },
      {
        "contentUdi": "umb://element/68ee8a9ea98242a4a423ca7a87a16dd1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/0d08fdbf53a444a1b1eaff3a9ed2466b",
      "traction": [
        "Institutional framework and governance structure"
      ],
      "descriptionOfEnablingFactor": "<p>Ghana implemented integrated landscape approaches for its national-level REDD+ strategy, enabled by global REDD+ discourse and funding. Other enabling factors include the World Bank's Forest Carbon Partnership Facility funding. </p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/68ee8a9ea98242a4a423ca7a87a16dd1",
      "traction": [
        "Institutional framework and governance structure"
      ],
      "descriptionOfEnablingFactor": "<p>This is further supported by the rise of climate smart agriculture and an increasing number of NGOs in the climate smart agriculture/fair trade space to support with funding and  broad stakeholder engagement.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseCountryBlockList>
    <caseIntroduction>
      <Value><![CDATA[<p>Ghana loses around 2% of its forest cover per year through deforestation, with forest degradation presenting an even bigger problem. Agricultural expansion, wood harvesting, development, and (illegal) mining are all driving factors. </p>
<p>Ghana has a highly agrarian economy which both drives degradation and is threatened by the ecological impacts of forest degradation and loss.</p>
<p>Agriculture is the second largest source of emissions in Ghana (38%), and the sector with the fastest growth rate since 1990.</p>
<p>Cocoa production accounts for about 16% of total GDP. Climate change is likely to shift the temporal zone in which cocoa can be produced, with production also affected by reduced precipitation and higher annual temperatures.</p>]]></Value>
    </caseIntroduction>
    <caseLockInBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/015a9e4073404e0cb0c30c385768a8c2"
      },
      {
        "contentUdi": "umb://element/fdd49c0e2c604dcba7e8ed4db0f81289"
      },
      {
        "contentUdi": "umb://element/c4b278ab2faf4c70b0576605bb856265"
      },
      {
        "contentUdi": "umb://element/3a6b8d2725794f46b7e06beebc903c9e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/015a9e4073404e0cb0c30c385768a8c2",
      "negativePositive": "1",
      "lockInType": [
        "Institutional (and governance)"
      ],
      "bodyText": "<p>REDD+ creates benefit-sharing opportunities for stakeholders including governments, communities and firms. Emissions reductions as a result of forest protection are incentivised with financial compensation. Ghana has received its first of several potential payments from the World Bank for emissions reductions achieved in the first monitoring period in 2019.[4] </p>\n<p>REDD+ created opportunities to increase national-level forest monitoring competency by improving agency capacity and supporting ongoing implementation.[3]</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/fdd49c0e2c604dcba7e8ed4db0f81289",
      "negativePositive": "0",
      "lockInType": [
        "Institutional (and governance)"
      ],
      "bodyText": "<p>Ghana's REDD+ strategy de-emphasises policy and legal reforms as avenues to address deforestation. Instead, it ranks addressing local practices of wood harvesting and agriculture as more urgent. Policies have not been developed into legally binding law. Management and land rights continue to be a challenge to REDD+ implementation on the local level, particularly as developing the legal framework has been officially de-prioritised.[5],[6]</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/c4b278ab2faf4c70b0576605bb856265",
      "negativePositive": "1",
      "lockInType": [
        "Institutional (and governance)"
      ],
      "bodyText": "<p>The Ghana Cocoa Forest REDD+ Programme's broad stakeholder engagement strategy shifts smallholder interests in the cocoa sector towards reducing deforestation and supporting future cocoa production (and therefore livelihoods) through climate-smart approaches. By developing a nested governance structure, the The Ghana Cocoa Forest REDD+ Programme aligns forestry and cocoa governance agencies with local stakeholders and the private sector. The commodity-focussed approach emphasises the \"economic imperative\" driven by declining cocoa returns due to climate change and develops a shared sense of urgency among actors.[7]</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/3a6b8d2725794f46b7e06beebc903c9e",
      "negativePositive": "0",
      "lockInType": [
        "Economical"
      ],
      "bodyText": "<p>The Ghana Cocoa Forest REDD+ Programme may lock-in current inequities in the cocoa sector. Requiring some level of investment (time or money) from cocoa smallholders to adopt climate-smart cocoa practices, interviews with farmers found that wealthier farmers tended to benefit more from climate-smart cocoa practices.[8] </p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseLockInBlockList>
    <casePolicyBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/70a8fed0041f4b75b78efe3d511d0834"
      },
      {
        "contentUdi": "umb://element/b0678a3980ab47efb3a81eecc9c2d8e6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/70a8fed0041f4b75b78efe3d511d0834",
      "title": "Policy 1",
      "instrumentsText": "<p>Ghana's REDD+ strategy seeks to reduce emissions from deforestation and forest degradation while implementing sustainable management practices and increasing forest carbon stocks. REDD+ develops one national and two sub-national implementation programmes, with a further three potential other programmes.</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Climate strategy"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Voluntary and Mandatory"
      ],
      "sectoralCoverage": [
        "Agriculture"
      ],
      "targetGroup": [
        "Multi-stakeholder"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2016-01-01T00:00:00",
      "endDateOfImplementation": "2035-01-01T00:00:00",
      "impactLevel": [
        "Low"
      ],
      "impactEvaluation": [
        "during implementation"
      ],
      "impactIndicator": "",
      "institutionalRequirement": "ENRAC, Ministry of Environment, National REDD+ Working Group (Ministry of Lands & Natural Resources) National REDD+ Secretariat (Forestry Commission)"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/b0678a3980ab47efb3a81eecc9c2d8e6",
      "title": "Policy 2",
      "instrumentsText": "<p>The Ghana Cocoa Forest REDD+ Programme (GCFRP) seeks to reduce emissions related to cocoa production and expansion into forest areas by introducing climate smart agriculture strategies through broad stakeholder outreach and collaboration. The Programme identifies hotspot intervention areas, delineated around the high forest agroecological zone. Each hotspot intervention areas is managed by a public-private-civil society consortium of stakeholders who work together to achieve set landscape goals like increasing yield and decreasing deforestation. </p>",
      "policyDecision": [
        "Supportive"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Information and education"
      ],
      "jurisdiction": [
        "State/Region"
      ],
      "enforcementLevel": [
        "Voluntary"
      ],
      "sectoralCoverage": [
        "Agriculture"
      ],
      "targetGroup": [
        "Multi-stakeholder"
      ],
      "institutionalRequirement": "Ghana Forestry Commission, COCOBOD, Ministry of Lands & Natural Resources",
      "implementationStatus": [
        "Partially implemented"
      ],
      "startDateOfImplementation": "2017-01-01T00:00:00",
      "endDateOfImplementation": "2035-01-01T00:00:00",
      "impactLevel": [
        "Medium"
      ],
      "impactEvaluation": [
        "during implementation"
      ],
      "impactIndicator": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </casePolicyBlockList>
    <sectorTag>
      <Value><![CDATA[[
  "Agriculture"
]]]></Value>
    </sectorTag>
    <tags>
      <Value><![CDATA[[
  "Agriculture",
  "Ghana",
  "Africa"
]]]></Value>
    </tags>
  </Properties>
</Content>