<?xml version="1.0" encoding="utf-8"?>
<Content Key="36bd659c-1e81-47b4-9b25-e7988f423af3" Alias="Coal phase-out - Chile" Level="3">
  <Info>
    <Parent Key="ee7fee6e-f9c2-45ca-ac3d-0d269e08e344">Cases</Parent>
    <Path>/GMPA/Cases/CoalPhaseOutChile</Path>
    <Trashed>false</Trashed>
    <ContentType>case</ContentType>
    <CreateDate>2023-11-07T09:07:34</CreateDate>
    <NodeName Default="Coal phase-out - Chile" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8dbf814c-b0e7-4947-a2a7-df45c3781cef">Case</Template>
  </Info>
  <Properties>
    <caseCountryBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6e972fe71c74475ca997939134890a4d"
      },
      {
        "contentUdi": "umb://element/bd1d4f3cb6594dd3a21112ec74528b68"
      },
      {
        "contentUdi": "umb://element/ef74ae0410fe4003a12e5b4660753c78"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/6e972fe71c74475ca997939134890a4d",
      "traction": [
        "Geographical"
      ],
      "descriptionOfEnablingFactor": "<p>Chile is among the most vulnerable countries to climate change, especially in terms of water resources. Moving towards renewable energy will also enable them to save water resources used in thermal power plants.</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/bd1d4f3cb6594dd3a21112ec74528b68",
      "traction": [
        "Other"
      ],
      "descriptionOfEnablingFactor": "<p>The areas close to industrial centres and coal power plants have experienced increased mortality rates, leading to heightened public awareness regarding the risks of fossil fuel combustion.</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/ef74ae0410fe4003a12e5b4660753c78",
      "traction": [
        "Behavioural and socio-cultural"
      ],
      "descriptionOfEnablingFactor": "<p>Coal power is a significant economic activity for specific communities, including the communes of Mejillones, Tocopilla, and Huasco, where it accounts for approximately 5% of local employment, as reported by the Ministry of Energy.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseCountryBlockList>
    <caseIntroduction>
      <Value><![CDATA[<p>Coal plays a major role in Chile's energy system, accounting for 18% of the primary energy supply in 2021. The government has made strong decisions to expedite the phase-out of coal from the power sector, with the goal of ceasing operation of all coal-fired plants by 2040 at the latest and retiring 65% of the fleet by 2025.</p>]]></Value>
    </caseIntroduction>
    <caseLockInBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b66070faeb1f48b896d205daa0ad0013"
      },
      {
        "contentUdi": "umb://element/dcff319b1d004d15b718d42b174ed930"
      },
      {
        "contentUdi": "umb://element/71da9670c6374b9686421df445098e55"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/b66070faeb1f48b896d205daa0ad0013",
      "negativePositive": "1",
      "lockInType": [
        "Institutional (and governance)"
      ],
      "bodyText": "<p>The consultation-based approach taken for planning the coal phase-out set a positive precedent, aligning all stakeholders toward the same goal.</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/dcff319b1d004d15b718d42b174ed930",
      "negativePositive": "1",
      "lockInType": [
        "Institutional (and governance)"
      ],
      "bodyText": "<p>Consultations with citizens, such as for the preparation of the Long-Term Energy Plan, foster the social support for the phase-out. </p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/71da9670c6374b9686421df445098e55",
      "negativePositive": "0",
      "lockInType": [
        "Technological (and infrastructural)"
      ],
      "bodyText": "<p>Chile is moving forward with its coal phase-out, but the government has not specified a timeline for phasing out gas. The current framework allows coal units to be converted to gas.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseLockInBlockList>
    <casePolicyBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/739c620409624ad489b670a9592ed6cf"
      },
      {
        "contentUdi": "umb://element/fa8beb750d76411c82a916b30a406f95"
      },
      {
        "contentUdi": "umb://element/b273f27d839941eb899da01494be3430"
      },
      {
        "contentUdi": "umb://element/f39ce8d1ed3c415181edc4457ef59274"
      },
      {
        "contentUdi": "umb://element/f87b030d67c144a48eaa7868ef02c168"
      },
      {
        "contentUdi": "umb://element/b15bddd2da7e44df8b567c3d3d7a8cea"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/739c620409624ad489b670a9592ed6cf",
      "title": "Policy 1",
      "instrumentsText": "<p>The 2018-2022 Energy Route: Leading the Modernization with a Citizen Seal was developed by the Department of Energy through a decentralised approach involving dialogue with stakeholders. It is structured into seven components, including a commitment to initiate the decarbonisation of the power sector through the phase-out or reconversion of coal power plants. </p>\n<p>In January 2018, the government and members of the Chilean Power Generators Association agreed not to initiate new unabated coal projects. They also established a working group to plan a coal phase-out coordinated by the Ministry of Energy. The roundtables took place from June to December 2018 and included stakeholders from the private and public sectors, trade associations, clients, NGOs, international organisations, and civil society representatives.</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Voluntary approach"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Voluntary"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Bussiness"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2018-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": "",
      "impactIndicator": "<p>— Coal capacity has declined from around 5.5 GW in 2019 (according to the Long Term Energy Planning) to 4.2 GW.<br>— According to the Boom and Bust Coal report 2023, three coal-fired units were decommissioned in 2022 alone.<br>— According to the Climate Action Tracker, out of the 28 units that were active in 2019 when the decision to phase out coal was made, 20 have a scheduled date to either shut down or convert to gas before 2030.</p>",
      "institutionalRequirement": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/fa8beb750d76411c82a916b30a406f95",
      "title": "Policy 2",
      "instrumentsText": "<p>Following the roundtables, in June 2019 the Government and Enel Generación Chile S.A, AES Gener, Engie, Colbún, and the Chilean Association of Power Generators signed agreements with short and medium-term plans for the decommissioning or reconversion of coal power plants. The first stage of the plan, covering 2019-2024, would see the decommissioning of 1.7 GW of coal-fired capacity (close to 20% of the installed capacity). The medium term target is a phase-out by 2040 at the latest. The agreement did not include direct state subsidies.</p>\n<p>In May 2020, Enel stated it will expedite the early closure of two units. In December 2020, AES Gener pushed forward the closure of two plants supposed to close in 2024. In April 2021, Engie stated it would phase out its fleet by 2025. According to these announcements, in May 2021, it was anticipated that half of the fleet would be retired or reconverted by 2025. </p>",
      "policyDecision": [
        "Re-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Voluntary approach"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Voluntary"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Bussiness"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2019-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": "",
      "impactIndicator": "<p>— Following the commitment made in April 2021 by Engie, half of the national coal power plant fleet will be phased out by 2025, compared to the 31% planned in the 2019 agreement according to the Chile-Germany Energy Partnership.</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/b273f27d839941eb899da01494be3430",
      "title": "Policy 3",
      "instrumentsText": "<p>Chile has been a pioneer in implementing taxes on harmful pollutants, with the introduction as part of Law 20.780 of a tax on sources such as PM2.5, NOx, and SO2 emissions from stationary sources, including power plants, with a capacity exceeding 50 MW. The price point for CO2 (USD 5/tonne) is lower than the carbon price in other countries, and lower than the social cost of carbon determined by the government of USD 32.5, according to the International Monetary Fund. The system also includes loopholes, such as exemptions for marginal power plants at certain times and indirect cross-subsidies to fossil fuel plant operators. </p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Economy-wide"
      ],
      "targetGroup": [
        "Bussiness"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2017-01-01T00:00:00",
      "endDateOfImplementation": "2023-01-01T00:00:00",
      "impactLevel": [
        "Medium"
      ],
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/f39ce8d1ed3c415181edc4457ef59274",
      "title": "Policy 4",
      "instrumentsText": "<p>The scope of the green tax has been expanded as part of the Tax Modernization Law to include all stationary sources emitting either more than 100 tonnes of PM2.5 or 25 kt of CO2 or more. It also introduces an offsetting scheme with a monitoring system managed by the Ministry of the Environment. The law was passed in 2020, with implementation scheduled to begin in January and February 2023.</p>",
      "policyDecision": [
        "Re-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Economy-wide"
      ],
      "targetGroup": [
        "Bussiness"
      ],
      "implementationStatus": [
        "Partially implemented"
      ],
      "startDateOfImplementation": "2023-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/f87b030d67c144a48eaa7868ef02c168",
      "title": "Policy 5",
      "instrumentsText": "<p>The Framework Law for Climate Change, enacted in 2022, serves as a foundational policy document for achieving Chile's climate objectives. In addition to offering guidelines for institutions and reporting requirements, it proposes the implementation of a pilot emissions trading scheme for the energy sector. This scheme assigns baselines to facilities and incorporates a cap-and-trade system.</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Climate strategy"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Voluntary"
      ],
      "sectoralCoverage": [
        "Economy-wide"
      ],
      "targetGroup": [
        "Policy makers"
      ],
      "implementationStatus": [
        "Partially implemented"
      ],
      "startDateOfImplementation": "2022-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/b15bddd2da7e44df8b567c3d3d7a8cea",
      "title": "Policy 6",
      "instrumentsText": "<p>The Long Term Energy Planning for 2023, which was partially formulated through collective consultations, outlines three scenarios for coal phase-out: </p>\n<p>— In the Recovery scenario, coal is phased out by 2040, aligning with the timeline established by the government that left office in 2022. <br>— In the Carbon Neutrality scenario, coal is phased out by 2035. <br>— In the Accelerated Transition scenario, coal exit is achieved by 2030, despite more optimistic assumptions regarding GDP growth. </p>\n<p>The government is in alignment with the Accelerated Transition scenario.</p>",
      "policyDecision": [
        "Supportive"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Policy support"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Voluntary"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Policy makers"
      ],
      "implementationStatus": [
        "Partially implemented"
      ],
      "startDateOfImplementation": "",
      "endDateOfImplementation": "",
      "impactLevel": [
        "Medium"
      ],
      "impactEvaluation": "",
      "impactIndicator": "<p>— The Climate Action Tracker has estimated that a phase-out in 2040 would lead to a cumulative emissions reduction of 17-28 MtCO2e. This assumes a linear retirement starting in 2025, and is dependent on the energy source replacing coal. In the Recovery scenario of the Long-Term Energy Plan, which also plans a phase-out by 2040, the installed capacity is less than 1 GW as early as 2032.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </casePolicyBlockList>
    <sectorTag>
      <Value><![CDATA[[
  "Power"
]]]></Value>
    </sectorTag>
    <tags>
      <Value><![CDATA[[
  "Power",
  "Energy",
  "South America",
  "Chile"
]]]></Value>
    </tags>
  </Properties>
</Content>