<?xml version="1.0" encoding="utf-8"?>
<Content Key="5267a6df-ed04-429d-9b0f-34cb75694e0f" Alias="GMPA" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GMPA</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-09-21T10:13:44</CreateDate>
    <NodeName Default="GMPA" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ed3b66c8-7040-4c6c-b57a-d633d9eaacfe">Home</Template>
  </Info>
  <Properties>
    <favIcon>
      <Value><![CDATA[[
  {
    "key": "69a8473b-7261-4035-b29d-e3c249e8a50d",
    "mediaKey": "35f86267-2a6d-49b3-a9c3-46c896e97288"
  }
]]]></Value>
    </favIcon>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <websiteLogo>
      <Value><![CDATA[[
  {
    "key": "e00ad4d6-1dcd-462f-821f-10d19950eb5b",
    "mediaKey": "d6cb8c93-37ed-4207-a9b9-812437fb6dd8"
  }
]]]></Value>
    </websiteLogo>
  </Properties>
</Content>