<?xml version="1.0" encoding="utf-8"?>
<Content Key="58fb3714-8b0d-43d9-8768-459b925662d6" Alias="TestCase" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TestCase</Path>
    <Trashed Parent="ee7fee6e-f9c2-45ca-ac3d-0d269e08e344">true</Trashed>
    <ContentType>case</ContentType>
    <CreateDate>2023-11-01T09:29:52</CreateDate>
    <NodeName Default="TestCase" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8dbf814c-b0e7-4947-a2a7-df45c3781cef">Case</Template>
  </Info>
  <Properties>
    <caseCountryBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d022cf19314d41628983aa18510085e5"
      },
      {
        "contentUdi": "umb://element/2b7e33c2a3e941318f85a989e4dbe69a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/d022cf19314d41628983aa18510085e5",
      "traction": [
        "Geographical"
      ],
      "descriptionOfEnablingFactor": "<p>Geographical</p>\n<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/2b7e33c2a3e941318f85a989e4dbe69a",
      "traction": [
        "Historical competitive advantage/disadvantage"
      ],
      "descriptionOfEnablingFactor": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseCountryBlockList>
    <caseIntroduction>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>]]></Value>
    </caseIntroduction>
    <caseLockInBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/283bbd224d8445c0b6fb2aa76d8a178e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/283bbd224d8445c0b6fb2aa76d8a178e",
      "negativePositive": "1",
      "lockInType": [
        "Economical"
      ],
      "bodyText": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseLockInBlockList>
    <casePolicyBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f5401a73965c4a05995d8feb8a14f17e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/f5401a73965c4a05995d8feb8a14f17e",
      "title": "Lorem",
      "instrumentsText": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
      "policyDecision": [
        "Re-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Regulatory instruments - Codes and standards"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Policy makers"
      ],
      "institutionalRequirement": [
        "Government"
      ],
      "implementationStatus": [
        "Partially implemented"
      ],
      "monitoringAndEvaluation": "",
      "startDateOfImplementation": "2023-11-01T00:00:00",
      "endDateOfImplementation": "2023-11-24T00:00:00"
    }
  ],
  "settingsData": []
}]]></Value>
    </casePolicyBlockList>
    <sectorTag>
      <Value><![CDATA[[
  "Test"
]]]></Value>
    </sectorTag>
    <tags>
      <Value><![CDATA[[
  "Lorem",
  "Ipsum",
  "Dolor",
  "Sit",
  "Amet",
  "Consectetur",
  "adipiscing",
  "elit",
  "sed",
  "do",
  "eiusmod",
  "tempor",
  "incidentus",
  "ut",
  "labore"
]]]></Value>
    </tags>
  </Properties>
</Content>