<?xml version="1.0" encoding="utf-8"?>
<Content Key="5bc46f55-3956-47b7-8853-42a3f3da5e1a" Alias="China: Shanghei Public Transport" Level="3">
  <Info>
    <Parent Key="ee7fee6e-f9c2-45ca-ac3d-0d269e08e344">Cases</Parent>
    <Path>/GMPA/Cases/ChinaShangheiPublicTransport</Path>
    <Trashed>false</Trashed>
    <ContentType>case</ContentType>
    <CreateDate>2023-11-06T15:29:55</CreateDate>
    <NodeName Default="China: Shanghei Public Transport" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8dbf814c-b0e7-4947-a2a7-df45c3781cef">Case</Template>
  </Info>
  <Properties>
    <caseCountryBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c048a192d32d4082801c6c328b294944"
      },
      {
        "contentUdi": "umb://element/c6477273ae5c44a785fd6fd6a66c51f2"
      },
      {
        "contentUdi": "umb://element/d9b6ffd1d8f54c89aa4b12e1134a85fa"
      },
      {
        "contentUdi": "umb://element/f1f2597ba8354f1bafd56d371c447c51"
      },
      {
        "contentUdi": "umb://element/d699e713a4fc447784b8ce163cfe7b00"
      },
      {
        "contentUdi": "umb://element/8cf081ec2f6642b09e7ea89e06c71b7f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/c048a192d32d4082801c6c328b294944",
      "traction": [
        "Geographical"
      ],
      "descriptionOfEnablingFactor": "<p>Shanghai's population grew steeply, generating a need for an efficient public transport system. </p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/c6477273ae5c44a785fd6fd6a66c51f2",
      "traction": [
        "Other"
      ],
      "descriptionOfEnablingFactor": "<p>Air quality is a significant concern for citizens, incentivising policy makers to reduce air pollution.</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/d9b6ffd1d8f54c89aa4b12e1134a85fa",
      "traction": [
        "Behavioural and socio-cultural"
      ],
      "descriptionOfEnablingFactor": "<p>Traffic congestion and population density incentivise modal shift and ridesharing initiatives. In 2015, commute time for inhabitants of Shanghai were among the highest in China, with a mean travel time of 50 minutes and distance of 19 km, according to Ly (2020).</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/f1f2597ba8354f1bafd56d371c447c51",
      "traction": [
        "End-use technology adoption/infrustructure"
      ],
      "descriptionOfEnablingFactor": "<p>The development of low-rise, high-density blocks create an adequate environment for public and non-motorised means of transportation to develop. Similarly, the grid planning of the city is an enabler for the development of an efficient public transportation system. </p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/d699e713a4fc447784b8ce163cfe7b00",
      "traction": [
        "Institutional framework and governance structure"
      ],
      "descriptionOfEnablingFactor": "<p>The Shanghai Transportation and Port Development Research Center plays a vital role in enhancing local policy making by researching policies from other cities and gathering data. This approach enables institutions to evaluate the viability and applicability of various policy options. Additionally, the government actively solicits public feedback on transportation policies.</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/8cf081ec2f6642b09e7ea89e06c71b7f",
      "traction": [
        "Institutional framework and governance structure"
      ],
      "descriptionOfEnablingFactor": "<p>Shanghai's approach to transportation governance stands out as more proactive, transparent, and innovation-oriented compared to Beijing's 'problem-driven' approach, according to a survey conducted by Chun et al. (2019).</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseCountryBlockList>
    <caseIntroduction>
      <Value><![CDATA[<p>"Shanghai's rapid urbanisation has spurred inventive transportation policies. The introduction of a license plate auction system aimed at reducing traffic congestion resulted in slower car ownership growth compared to the national average. </p>
<p>Complementing policies implemented in Shanghai aimed at enhancing public transport and promoting modal shifts in line with transit-oriented development principles. Consequently, the annual ridership percentage for rail transport surged from 2% in 1995 to an impressive 45% in 2015, effectively addressing congestion while fostering sustainable urban mobility."</p>]]></Value>
    </caseIntroduction>
    <caseLockInBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b22e2e42f1684d579d02f73e9cd354ca"
      },
      {
        "contentUdi": "umb://element/762694eccaf94b2c8585db7b056a3519"
      },
      {
        "contentUdi": "umb://element/a84d1246d0a843d5a1123efd2878d2d3"
      },
      {
        "contentUdi": "umb://element/da8cef1401044f05b5fafb7dc02e0036"
      },
      {
        "contentUdi": "umb://element/9064126a7be24bdea62e595396a27177"
      },
      {
        "contentUdi": "umb://element/5678c69d65324b47983f20ff0afea293"
      },
      {
        "contentUdi": "umb://element/d97951cdf4504e7ba2cef01b0d66c856"
      },
      {
        "contentUdi": "umb://element/d818079832444123a9b640ead8903318"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/b22e2e42f1684d579d02f73e9cd354ca",
      "negativePositive": "1",
      "lockInType": [
        "Behavioural"
      ],
      "bodyText": "<p>The plate auctioning policy decreased passenger vehicle fuel consumption as per Hao et al. (2011).</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/762694eccaf94b2c8585db7b056a3519",
      "negativePositive": "0",
      "lockInType": [
        "Behavioural"
      ],
      "bodyText": "<p>The plate auctioning policy led to an increase in the average distance travelled, as found by Hao et al. (2011). This phenomenon could be interpreted as a 'rebound effect,' where individuals who invested in the plate were incentivised to maximize its utility.</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/a84d1246d0a843d5a1123efd2878d2d3",
      "negativePositive": "1",
      "lockInType": [
        "Developmental"
      ],
      "bodyText": "<p>Directing plate auction proceeds towards infrastructure development increases transparency, fosters acceptance, and enables investments in cleaner transportation.</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/da8cef1401044f05b5fafb7dc02e0036",
      "negativePositive": "0",
      "lockInType": [
        "Developmental"
      ],
      "bodyText": "<p>The Master Plan's inflexible planning framework has resulted in a disconnect with private sector real estate development. Challenges, such as a lack of adaptability within the overarching framework, one-sided decision-making, and limited interagency cooperation hinder policy making in the transport sector.</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/9064126a7be24bdea62e595396a27177",
      "negativePositive": "1",
      "lockInType": [
        "Economical"
      ],
      "bodyText": "<p>The channelling of the revenues from plate auctions into infrastructure developments makes the measure more transparent and fosters acceptance, while allowing to raise investments for the development of cleaner modes of transportation. </p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/5678c69d65324b47983f20ff0afea293",
      "negativePositive": "0",
      "lockInType": [
        "Institutional (and governance)"
      ],
      "bodyText": "<p>Middle-class workers display limited acceptance of the car plate auction system due to its perceived lack of fairness and transparency according to Zhao (2013)</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/d97951cdf4504e7ba2cef01b0d66c856",
      "negativePositive": "1",
      "lockInType": [
        "Technological (and infrastructural)"
      ],
      "bodyText": "<p>The license plate auction played a significant role in driving EV sales and contributed to the penetration of PHEVs and EVs in Shanghai. Li, Walls, and Zheng (2023) argue that this fiscal-neutral approach appears more effective than direct purchase subsidies.</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/d818079832444123a9b640ead8903318",
      "negativePositive": "1",
      "lockInType": [
        "Behavioural"
      ],
      "bodyText": "<p>The plate auctioning policy eased traffic congestion and generated revenues for the city, although these positive economic outcomes were counterbalanced by a decrease in activity for the automotive industry, as noted by Liu (2008).</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseLockInBlockList>
    <casePolicyBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/afc131df1166426989b9a60acdd5227b"
      },
      {
        "contentUdi": "umb://element/214547a6fbec4dbba4f75928ad275059"
      },
      {
        "contentUdi": "umb://element/3b06794efc764eb6a9c2a3d5c457d8ea"
      },
      {
        "contentUdi": "umb://element/31bbe712479d4c6eaabd117804b1e354"
      },
      {
        "contentUdi": "umb://element/aef7c382376d472f995a12682fc43953"
      },
      {
        "contentUdi": "umb://element/9842ff6be7974c02aab402d6a5091759"
      },
      {
        "contentUdi": "umb://element/778d3774c48b446db5b42dc0d52874a9"
      },
      {
        "contentUdi": "umb://element/2809783efbce4ff695aa1856645e8191"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/afc131df1166426989b9a60acdd5227b",
      "title": "Policy 1",
      "instrumentsText": "<p>The Shanghai Master Plan (2017-2035) incorporates a comprehensive strategy for the multimodal urban planning of the city, aiming to achieve 85% utilisation of eco-friendly transportation modes and a 50% utilisation of public transport for commuting.</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Policy support"
      ],
      "jurisdiction": [
        "City"
      ],
      "enforcementLevel": [
        "Voluntary"
      ],
      "sectoralCoverage": [
        "Economy-wide"
      ],
      "targetGroup": [
        "Policy makers"
      ],
      "implementationStatus": [
        "Partially implemented"
      ],
      "startDateOfImplementation": "2017-01-01T00:00:00",
      "endDateOfImplementation": "2035-12-31T00:00:00",
      "impactLevel": [
        "Other"
      ],
      "impactEvaluation": "",
      "impactIndicator": "<p>* Share of commute by means of transportation.</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/214547a6fbec4dbba4f75928ad275059",
      "title": "Policy 2",
      "instrumentsText": "<p>The Shanghai Master Plan (2001-2020) was the central land planning framework for this period. One of its central components was to align the developments around transit areas to improve the efficiency of the transport system to address rising trip distance, which increased by 40% between 1995 and 2004. However, according to Yaping and Min (2009), the Master Plan failed to accurately estimate population growth, leading to extensification. </p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Policy support"
      ],
      "jurisdiction": [
        "City"
      ],
      "enforcementLevel": [
        "Voluntary"
      ],
      "sectoralCoverage": [
        "Economy-wide"
      ],
      "targetGroup": [
        "Policy makers"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2001-01-01T00:00:00",
      "endDateOfImplementation": "2020-01-01T00:00:00",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/3b06794efc764eb6a9c2a3d5c457d8ea",
      "title": "Policy 3",
      "instrumentsText": "<p>In 1986, the license quota auction system was introduced, coinciding with the end of a ban on private car ownership. </p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Market based instruments"
      ],
      "jurisdiction": [
        "City"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Individual"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "monitoringAndEvaluation": "Since 2013, there have been incentives for electric vehicle (EV) and plug-in hybrid electric vehicle (PHEV) buyers, particularly those who are first-time EV buyers with private parking and charging infrastructure. They have been granted free license plates, with charger installation subsidies available. However, it's important to note that this privilege is now limited to EV owners, as PHEV license plates have been subject to auctions since 2023. \"",
      "startDateOfImplementation": "1994-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": [
        "ex-post"
      ],
      "impactIndicator": "<p>\"* Private ownership of cars per 1000 people rose by around 100% between 1995 and 2014 in Shanghai, compared to close to 200% in Beijing and 125% on average in the country. <br>* Shanghai was China's largest EV market from 2010 to 2019, with 310,000 EVs sold. EV market share was 8% in 2019. \"</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/31bbe712479d4c6eaabd117804b1e354",
      "title": "Policy 4",
      "instrumentsText": "<p>Starting in 2020, vehicles registered outside of Shanghai have been prohibited from using elevated highways between 7am and 8pm on weekdays. In 2021, further measures were introduced to limit non-Shanghai registered passenger cars from entering the city center during peak hours, specifically from 7am to 9am and 5pm to 7pm on weekdays. These measures were enacted to alleviate traffic congestion and reinforce the license plate auction policy.</p>",
      "policyDecision": [
        "Re-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Regulatory instruments - Others"
      ],
      "jurisdiction": [
        "City"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Individual"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2020-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "Medium"
      ],
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/aef7c382376d472f995a12682fc43953",
      "title": "Policy 5",
      "instrumentsText": "<p>Promoting Bicycle Usage: In 2009, the city introduced bike sharing stations, followed by the implementation of a dockless bike system in 2015. Subsequently, in 2017, the city enforced urban bike sharing regulations, mandating bike registration, insurance requirements, and guidelines for proper bike parking. By 2019, dockless bikes emerged as the most cost-effective transportation option in the city, offering a 3 km trip at one third of the cost of the metro and half the price of the bus.</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Direct investment"
      ],
      "jurisdiction": [
        "City"
      ],
      "enforcementLevel": [
        "Voluntary"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Individual"
      ],
      "implementationStatus": [
        "Partially implemented"
      ],
      "startDateOfImplementation": "",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": [
        "ex-post"
      ],
      "impactIndicator": "<p>\"* As of the end of 2020, the Shanghai Metro featured 18 lines, spanning a total length exceeding 800 km. <br>* In 2021, it secured its position as the world's largest metro network by line length, surpassing Beijing's network according to Smirnov et al. (2022).<br>* From 2004 to 2014, the preference for private transport among Shanghai residents remained stable, while public transport usage saw a notable increase. The annual ridership percentage for rail transport, including the Maglev, grew from 2% in 1995 to 45% in 2015.\"</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/9842ff6be7974c02aab402d6a5091759",
      "title": "Policy 6",
      "instrumentsText": "<p>Expansion of the metro system: since the Shanghai Metro started operating in 1994, continuous investments in infrastructure have resulted in an almost sevenfold expansion of the metro network's length between 2002 and 2009. Local strategies, including the Master Plan 1999–2020 and the Master Plan 2017-2035, have provided guidance for network expansion. At the national level, a Public Transit Priority Strategy was proposed in 2005.</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Direct investment"
      ],
      "jurisdiction": [
        "City"
      ],
      "enforcementLevel": [
        "Voluntary"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Individual"
      ],
      "implementationStatus": [
        "Partially implemented"
      ],
      "startDateOfImplementation": "",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": [
        "ex-post"
      ],
      "impactIndicator": "<p>\"* As of the end of 2020, the Shanghai Metro featured 18 lines, spanning a total length exceeding 800 km. <br>* In 2021, it secured its position as the world's largest metro network by line length, surpassing Beijing's network according to Smirnov et al. (2022).<br>* From 2004 to 2014, the preference for private transport among Shanghai residents remained stable, while public transport usage saw a notable increase. The annual ridership percentage for rail transport, including the Maglev, grew from 2% in 1995 to 45% in 2015.\"</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/778d3774c48b446db5b42dc0d52874a9",
      "title": "Policy 7",
      "instrumentsText": "<p>Parking fees differentiation: parking fees in Shanghai vary according to location. In the city center, parking spots are priced higher as a strategy to mitigate traffic congestion and discourage the use of private vehicles.</p>",
      "policyDecision": [
        "Supportive"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "City"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Individual"
      ],
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2006-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": [
        "ex-post"
      ],
      "impactIndicator": "<p>\"* After being stable during the privatisation period (2002-2009), the number of bus lines rose steeply between 2009 and 2013. <br>* The number of buses also increased between 2009 and 2013, having dropped between 2002 and 2009.\"</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/2809783efbce4ff695aa1856645e8191",
      "title": "Policy 8",
      "instrumentsText": "<p>The city of Shanghai offered a 10,000 yuan (US$ 1,500) subsidy for consumers transferring their vehicle license to an EV vehicle from May to December 2022. The provision has been extended to June 2023, after the state-level subsidy ended at the end of 2022. Electric vehicles or plug-in hybrid vehicles purchased during 2023 are also exempt of purchase tax, in line with the state-level policy. </p>",
      "policyDecision": [
        "Supportive"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "City"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Transport"
      ],
      "targetGroup": [
        "Individual"
      ],
      "implementationStatus": [
        "Partially implemented"
      ],
      "startDateOfImplementation": "2022-01-01T00:00:00",
      "endDateOfImplementation": "2023-01-01T00:00:00",
      "impactLevel": [
        "Medium"
      ],
      "impactEvaluation": "",
      "impactIndicator": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </casePolicyBlockList>
    <sectorTag>
      <Value><![CDATA[[
  "Transport"
]]]></Value>
    </sectorTag>
    <tags>
      <Value><![CDATA[[
  "China",
  "Transport"
]]]></Value>
    </tags>
  </Properties>
</Content>