<?xml version="1.0" encoding="utf-8"?>
<Content Key="65fb7f45-5632-41a1-a95d-6dbb3ec5f37f" Alias="Uruguay: National Energy Policy and wind power regulations" Level="3">
  <Info>
    <Parent Key="ee7fee6e-f9c2-45ca-ac3d-0d269e08e344">Cases</Parent>
    <Path>/GMPA/Cases/UruguayNationalEnergyPolicyAndWindPowerRegulations</Path>
    <Trashed>false</Trashed>
    <ContentType>case</ContentType>
    <CreateDate>2023-11-07T09:20:42</CreateDate>
    <NodeName Default="Uruguay: National Energy Policy and wind power regulations" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8dbf814c-b0e7-4947-a2a7-df45c3781cef">Case</Template>
  </Info>
  <Properties>
    <caseCountryBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e3893bb706e0471093dc17a771268a7b"
      },
      {
        "contentUdi": "umb://element/b1d9a66664af4ef192865630afcf65e1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/e3893bb706e0471093dc17a771268a7b",
      "traction": [
        "Institutional framework and governance structure"
      ],
      "descriptionOfEnablingFactor": "<p>Endorsement by all political parties in Congress indicates high political will as a key enabling factor. This was driven by concerns about energy sovereignty as Uruguay was highly dependent on energy imports from Argentina and economic growth had driven a sharp increase in energy demand with little capacity additions.</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/b1d9a66664af4ef192865630afcf65e1",
      "traction": [
        "Institutional framework and governance structure"
      ],
      "descriptionOfEnablingFactor": "<p>Establishment of the National Energy Policy set renewable energy targets and empowered the Ministry for Industry, Energy, and Mines and the national energy producer to develop further policy to support development of renewable infrastructure and renewable feed-in to the grid.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseCountryBlockList>
    <caseIntroduction>
      <Value><![CDATA[<p>Uruguay's power sector is dominated by renewables. In 2020, renewables accounted for 94% of generation, reaching up to 98%. Hydropower is a significant source of electricity, with wind power growing significantly over the past 15 years. Uruguay began renewable energy auctions in 2006 and has increased the renewable energy share of the electricity mix by 93% since signing the Kyoto Protocol. [1]</p>]]></Value>
    </caseIntroduction>
    <caseLockInBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8fd6672015fb412d91f094402332813c"
      },
      {
        "contentUdi": "umb://element/00da0e2cc120487fb4757c62c7b768dc"
      },
      {
        "contentUdi": "umb://element/8311a5b765ee4e66ae8030d6c825543d"
      },
      {
        "contentUdi": "umb://element/e90e6c2e50334cac85ae74b824a886c3"
      },
      {
        "contentUdi": "umb://element/51e30489a88346e0b57124e4b2637616"
      },
      {
        "contentUdi": "umb://element/e15a263b4ea5431b9b196b5033c0fc27"
      },
      {
        "contentUdi": "umb://element/7a2f78fec5224be48e31f57ccc3f9910"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/8fd6672015fb412d91f094402332813c",
      "negativePositive": "1",
      "lockInType": [
        "Technological (and infrastructural)"
      ],
      "bodyText": "<p>This policy generated huge investment in wind power and other renewable energy projects, leading to the development of a significant amount of wind and solar capacity which generate cheaper electricity than other sources. The long-term vision of the policy ensures that these technologies remain the preference with a high proportion of renewable generation locked in.</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/00da0e2cc120487fb4757c62c7b768dc",
      "negativePositive": "1",
      "lockInType": [
        "Institutional (and governance)"
      ],
      "bodyText": "<p>This decree enables the national electricity utility (UTE) to establish power purchase agreements and de-risk investments in wind, setting an institutional framework which prioritises wind development.</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/8311a5b765ee4e66ae8030d6c825543d",
      "negativePositive": "1",
      "lockInType": [
        "Economical"
      ],
      "bodyText": "<p>This policy auctioned 20-year power purchase agreement contracts and established the guidelines for execution of further contracts, locking in wind generation and reducing barriers to future auctions.</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/e90e6c2e50334cac85ae74b824a886c3",
      "negativePositive": "1",
      "lockInType": [
        "Institutional (and governance)"
      ],
      "bodyText": "<p>By considering wind as having zero marginal cost this decree sets wind as the preferred option for energy dispatch, locking in wind as the first choice generation technology. </p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/51e30489a88346e0b57124e4b2637616",
      "negativePositive": "1",
      "lockInType": [
        "Economical"
      ],
      "bodyText": "<p>This policy established long term power purchase agreements contracts for excess wind generation for 200 MW of installations and incentivised industry to use wind energy for self-consumption in the long-term. [1]</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/e15a263b4ea5431b9b196b5033c0fc27",
      "negativePositive": "1",
      "lockInType": [
        "Economical"
      ],
      "bodyText": "<p>This policy established and increased financial incentives for investing in wind energy, increasing the number of firms investing in wind and supporting long term involvement in the sector. </p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/7a2f78fec5224be48e31f57ccc3f9910",
      "negativePositive": "0",
      "lockInType": [
        "Developmental"
      ],
      "bodyText": "<p>Significant investment in wind power compared to other renewable energy technologies may lead to a lack of diversity and potential inflexibility in the power sector without investment in alternatives.[5] The huge infrastructure development needed to support renewable energy installations in Uruguay was threatened by lack of logistical infrastructure and potentially overwhelmed transport infrastructure. Without investment in roads, bridges, and ports this could have created a significant barrier to implementing renewable energy policy.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseLockInBlockList>
    <casePolicyBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/81c5decab31c4aee9e698e94f90098e4"
      },
      {
        "contentUdi": "umb://element/3fc7416132544ce2bd615752971dc656"
      },
      {
        "contentUdi": "umb://element/b71d0ab193f14af9b444f7bea35e6271"
      },
      {
        "contentUdi": "umb://element/6bdd85778c2f45de93a7726a3c961ad0"
      },
      {
        "contentUdi": "umb://element/5c2aed66cfc84c7d81f5cd8ccce3fcf1"
      },
      {
        "contentUdi": "umb://element/06261ee3d33044e2a53ac98b76867989"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/81c5decab31c4aee9e698e94f90098e4",
      "title": "Policy 1",
      "instrumentsText": "<p>The National Energy Policy 2005-2030 is the key long term strategy document for the Uruguayan power sector. It outlines a comprehensive and long term strategy which combines institutional reform with target-setting and infrastructure investment across the energy sector. The Policy sets short-, medium-, and long-term targets and introduces several financial mechanisms to increase investment in renewable energy. [2] </p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Other"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Target"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Voluntary and Mandatory"
      ],
      "sectoralCoverage": [
        "Economy-wide"
      ],
      "targetGroup": [
        "Industry"
      ],
      "institutionalRequirement": "Ministry of Industry, Energy, and Mines;   UTE (government-owned power company)",
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2008-01-01T00:00:00",
      "endDateOfImplementation": "2030-01-01T00:00:00",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": "",
      "impactIndicator": "<p>Investments in renewable infrastructure have increased significantly, with more than 3% of GDP invested in energy infrastructure from 2008 to 2021. In 2015, renewables accounted for 55% of the energy supply — accounting for a 5.2 MtCO2/year reduction in emissions since the policy came into force in 2008. The energy mix has diversified and Uruguay has achieved energy security and is no longer reliant on energy imports.[2] </p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/3fc7416132544ce2bd615752971dc656",
      "title": "Policy 2",
      "instrumentsText": "<p>Decree No. 77/066 authorises the national electricity utility (UTE) to enter into contracts for renewable energy and introduces the first competitive wind energy auction.</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Other"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Regulatory instruments - Others"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Bussiness"
      ],
      "institutionalRequirement": "National electricity utility (UTE)",
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2006-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": "",
      "impactIndicator": "<p>This policy is the foundational decree which allows the national energy provider to set competitive auctions and enter into energy contracts with renewable energy generators. It is a prerequisite for further competitive development of wind infrastructure in Uruguay. [5]</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/b71d0ab193f14af9b444f7bea35e6271",
      "title": "Policy 3",
      "instrumentsText": "<p>Decree No. 403/009 auctioned 150 MW for wind power, as well as an additional 150 MW to reach National Energy Policy targets for 2015. It sets guidelines for contracting and auctions developed by the national electricity utility (UTE). The call was open to wind farms from 30 to 50 MW with power purchase agreements of 20 years. It was followed in 2011 by Decree 159/011 which auctioned the second phase. [1]</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Voluntary"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Industry"
      ],
      "institutionalRequirement": "National electricity utility (UTE)",
      "implementationStatus": [
        "Closed / superseded"
      ],
      "startDateOfImplementation": "2009-01-01T00:00:00",
      "endDateOfImplementation": "2010-01-01T00:00:00",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": "",
      "impactIndicator": "<p>Three wind farms were contracted for a total of 150 MW. [3]</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/6bdd85778c2f45de93a7726a3c961ad0",
      "title": "Policy 4",
      "instrumentsText": "<p>Decree No. 567/009 establishes rules for feed-in of electricity from wind generation. It establishes electricity from wind as having zero marginal cost and that they will therefore be dispatched when available.</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Regulatory instruments - Others"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Bussiness"
      ],
      "institutionalRequirement": "National electricity utility (UTE)",
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2009-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": "",
      "impactIndicator": "<p>This policy prioritises the dispatch of wind energy and reduces regulatory barriers to future auctions and dispatch.</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/5c2aed66cfc84c7d81f5cd8ccce3fcf1",
      "title": "Policy 5",
      "instrumentsText": "<p>Decrees No. 158/012 and 433/012 established an auction for 200 MW of wind generation for self consumption by industry and set a power purchase agreement for feed-in of excess generation. It allows for on and off-site generation and for multiple industry actors to join together on a single generation project.</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Voluntary"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Industry"
      ],
      "institutionalRequirement": "National electricity utility (UTE)",
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2012-01-01T00:00:00",
      "endDateOfImplementation": "2014-01-01T00:00:00",
      "impactLevel": [
        "Medium"
      ],
      "impactEvaluation": "",
      "impactIndicator": "<p>This decree supports the integration of wind energy into energy-intensive sectors and reduces the reliance on fossil generation.</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/06261ee3d33044e2a53ac98b76867989",
      "title": "Policy 6",
      "instrumentsText": "<p>Decree No. 354/009 establishes VAT and income tax exemptions for industry actors, including renewable energy service providers and manufacturers of renewable energy technologies.</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Industry"
      ],
      "institutionalRequirement": "National electricity utility (UTE). Ministry of Economy and Finance",
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2012-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "Medium"
      ],
      "impactEvaluation": "",
      "impactIndicator": "<p>In combination with other taxation regulations, this decree supported an increase in investment in clean technologies and increased compliance with the \"Cleaner production\" indicator.[4]</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </casePolicyBlockList>
    <caseReferences>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b1077d2d504a470f8d75c24b1169f750"
      },
      {
        "contentUdi": "umb://element/1faf85fb93d846068e3a171933f618e4"
      },
      {
        "contentUdi": "umb://element/25da717ffcff4f8b8711c31120ad2241"
      },
      {
        "contentUdi": "umb://element/a70c0a9b370945a3b228f6e3816a3f9b"
      },
      {
        "contentUdi": "umb://element/6400b3a60acb4ce494b11b1368f42070"
      },
      {
        "contentUdi": "umb://element/a691e0392ed74c05a44bcb5df8775c4a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ed31ff00-2e6d-408f-9755-113d0cf4b9fb",
      "udi": "umb://element/b1077d2d504a470f8d75c24b1169f750",
      "referenceName": "1.",
      "referenceUrl": "https://www.gub.uy/ministerio-industria-energia-mineria/energia?version=1.0&t=1352835007562 "
    },
    {
      "contentTypeKey": "ed31ff00-2e6d-408f-9755-113d0cf4b9fb",
      "udi": "umb://element/1faf85fb93d846068e3a171933f618e4",
      "referenceName": "2.",
      "referenceUrl": "https://www.climatepolicydatabase.org/policies/auctioning-decree-no-77006"
    },
    {
      "contentTypeKey": "ed31ff00-2e6d-408f-9755-113d0cf4b9fb",
      "udi": "umb://element/25da717ffcff4f8b8711c31120ad2241",
      "referenceName": "3.",
      "referenceUrl": "https://archivo.presidencia.gub.uy/_web/decretos/2009/08/931.pdf"
    },
    {
      "contentTypeKey": "ed31ff00-2e6d-408f-9755-113d0cf4b9fb",
      "udi": "umb://element/a70c0a9b370945a3b228f6e3816a3f9b",
      "referenceName": "4.",
      "referenceUrl": "http://www.impo.com.uy/bases/decretos/567-2009/1"
    },
    {
      "contentTypeKey": "ed31ff00-2e6d-408f-9755-113d0cf4b9fb",
      "udi": "umb://element/6400b3a60acb4ce494b11b1368f42070",
      "referenceName": "5.",
      "referenceUrl": "https://www.impo.com.uy/bases/decretos/158-2012"
    },
    {
      "contentTypeKey": "ed31ff00-2e6d-408f-9755-113d0cf4b9fb",
      "udi": "umb://element/a691e0392ed74c05a44bcb5df8775c4a",
      "referenceName": "6.",
      "referenceUrl": "https://archivo.presidencia.gub.uy/sci/decretos/2012/01/mef_705.pdf"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseReferences>
    <sectorTag>
      <Value><![CDATA[[
  "Power"
]]]></Value>
    </sectorTag>
    <tags>
      <Value><![CDATA[[
  "Power",
  "Energy",
  "Uruguay",
  "South America"
]]]></Value>
    </tags>
  </Properties>
</Content>