<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d6b6658-9356-47da-a106-23ca831e0238" Alias="Philippines" Level="3">
  <Info>
    <Parent Key="a9867545-94b7-4de3-9af4-8ea18c7b4062">Countries</Parent>
    <Path>/Home/Countries/Philippines</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2023-09-21T15:46:04</CreateDate>
    <NodeName Default="Philippines" />
    <SortOrder>35</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="11f5b109-27f2-47ec-b451-5d1d21daf03e">Country</Template>
  </Info>
  <Properties>
    <accordionItem>
      <Value><![CDATA[]]></Value>
    </accordionItem>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <continent>
      <Value><![CDATA[[
  "Asia"
]]]></Value>
    </continent>
  </Properties>
</Content>