<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bc8da94-f541-403a-96de-2f5bfd4fb73d" Alias="Malaysia" Level="3">
  <Info>
    <Parent Key="a9867545-94b7-4de3-9af4-8ea18c7b4062">Countries</Parent>
    <Path>/Home/Countries/Malaysia</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2023-09-21T15:45:59</CreateDate>
    <NodeName Default="Malaysia" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="11f5b109-27f2-47ec-b451-5d1d21daf03e">Country</Template>
  </Info>
  <Properties>
    <accordionItem>
      <Value><![CDATA[]]></Value>
    </accordionItem>
    <active>
      <Value><![CDATA[1]]></Value>
    </active>
    <contactName>
      <Value><![CDATA[]]></Value>
    </contactName>
    <continent>
      <Value><![CDATA[[
  "Asia"
]]]></Value>
    </continent>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <normalTextBlockList>
      <Value><![CDATA[]]></Value>
    </normalTextBlockList>
    <phoneNumber>
      <Value><![CDATA[]]></Value>
    </phoneNumber>
    <pictureOfContactPerson>
      <Value><![CDATA[]]></Value>
    </pictureOfContactPerson>
    <titleOrJob>
      <Value><![CDATA[]]></Value>
    </titleOrJob>
  </Properties>
</Content>