<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d4da3bb-7724-415a-b7b4-6252bb54c5e5" Alias="Vietnam Feed in Tariff policy for solar" Level="3">
  <Info>
    <Parent Key="ee7fee6e-f9c2-45ca-ac3d-0d269e08e344">Cases</Parent>
    <Path>/Home/Cases/VietnamFeedInTariffPolicyForSolar</Path>
    <Trashed>false</Trashed>
    <ContentType>case</ContentType>
    <CreateDate>2023-09-25T12:22:03</CreateDate>
    <NodeName Default="Vietnam Feed in Tariff policy for solar" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8dbf814c-b0e7-4947-a2a7-df45c3781cef">Case</Template>
  </Info>
  <Properties>
    <caseCountryBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e49913755a6340dabd031415ad7ffefe"
      },
      {
        "contentUdi": "umb://element/1ef5a6d721ca4909aeee70a28412c6ea"
      },
      {
        "contentUdi": "umb://element/2ab1d7b4e84e4ef39799cf3b868aa043"
      },
      {
        "contentUdi": "umb://element/f166e3ae627942d0840db6f24681ab17"
      },
      {
        "contentUdi": "umb://element/81123b23cd11408ebe3cc9ada949d031"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/e49913755a6340dabd031415ad7ffefe",
      "traction": [
        "Geographical"
      ],
      "descriptionOfEnablingFactor": "<p>Viet Nam has an abundant potential for solar energy. The Power Development Plan 8 estimates that Viet Nam has a solar energy potential of 963 GW (including a 77.4 GW potential for water PVs and 48.2 GW for rooftop solar).</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/1ef5a6d721ca4909aeee70a28412c6ea",
      "traction": [
        "Market structure for business and finance"
      ],
      "descriptionOfEnablingFactor": "<p>A high-growth economy, Viet Nam has achieved an average GDP growth of 7% from 2010 to 2019, resulting in a high energy demand that has driven the government to prioritize ensuring a reliable energy supply.</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/2ab1d7b4e84e4ef39799cf3b868aa043",
      "traction": [
        "Behavioural and socio-cultural"
      ],
      "descriptionOfEnablingFactor": "<p>Air pollutions in cities generated public opposition to pollutant projects, leading some provinces to oppose the building of new coal power plants.</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/f166e3ae627942d0840db6f24681ab17",
      "traction": [
        "Institutional framework and governance structure"
      ],
      "descriptionOfEnablingFactor": "<p>International organization present in Viet Nam supported the deployment of PVs, for example the ADB through its Enhancing Readiness for Solar Power Deployment in Viet Nam project.</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/81123b23cd11408ebe3cc9ada949d031",
      "traction": [
        "Market structure for business and finance"
      ],
      "descriptionOfEnablingFactor": "<p>Viet Nam has a flexible investing environment, allowing for the channelling of international financing. It did not set local content requirements as criteria for the FiT</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseCountryBlockList>
    <caseIntroduction>
      <Value><![CDATA[<p>In 2021, Vietnam's electricity production relied predominantly on coal (47% of the power generation) and hydro (31%), contrasting with the 2017 figures of 33% coal and 46% hydro. </p>
<p>During the same period, solar generation in Vietnam went from zero to 33 TWh with installed capacity reaching 16.7 GW. In 2017, wind and solar contributed just 0.2% to the country's electricity, a figure that had risen to 12% by 2021. Feed in Tariff policies payed an important role in this.</p>]]></Value>
    </caseIntroduction>
    <caseLockInBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a05a168b2682472aa3d7bb59c1985902"
      },
      {
        "contentUdi": "umb://element/ee2bf750fc2c456491fb4e3eea972067"
      },
      {
        "contentUdi": "umb://element/cb2e2dfe59364c5a978bafa7147b5eba"
      },
      {
        "contentUdi": "umb://element/afa883745b6d4daab43fd9a75cb00380"
      },
      {
        "contentUdi": "umb://element/1170c94815584d25bae126e4a1a10b95"
      },
      {
        "contentUdi": "umb://element/361dcc12567f456fb39f3faf1b8da337"
      },
      {
        "contentUdi": "umb://element/69b59c793f2a45008dfabbfa7c4ea265"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/a05a168b2682472aa3d7bb59c1985902",
      "negativePositive": "1",
      "lockInType": [
        "Institutional (and governance)"
      ],
      "bodyText": "<p>Feedback from investors and project developers can accelerate procedures flexibility and administrative streamlining for new energy projects.</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/ee2bf750fc2c456491fb4e3eea972067",
      "negativePositive": "1",
      "lockInType": [
        "Technological (and infrastructural)"
      ],
      "bodyText": "<p>The solar boom experienced by Viet Nam shows domestic policy makers that adequate policies and regional targeting can lead to the rapid deployment of renewable energies, and can help relieve energy shortage in areas dependent on baseload power generation with deteriorating reliability. This is relevant in light of the May/June 2023 droughts and heatwaves that affected the North of the country, where PV penetration is low, led to reduced hydroelectric output, which in turns led to dramatic power outages.</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/cb2e2dfe59364c5a978bafa7147b5eba",
      "negativePositive": "1",
      "lockInType": [
        "Economical"
      ],
      "bodyText": "<p>Mitigating risks in solar projects enabled the establishment of a skilled workforce and a pool of experts who can be readily deployed<br>in upcoming clean energy projects.</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/afa883745b6d4daab43fd9a75cb00380",
      "negativePositive": "0",
      "lockInType": [
        "Technological (and infrastructural)"
      ],
      "bodyText": "<p>Uneven and extensive solar PV deployment caused grid congestion in provinces with sustained high installation rates. The situation was exacerbated as, historically, regions with limited renewable potential received more investment in power distribution and transport infrastructure, mainly to support coal and hydroelectric power facilities. Conversely, areas with abundant renewable potential have lower electricity demand.</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/1170c94815584d25bae126e4a1a10b95",
      "negativePositive": "0",
      "lockInType": [
        "Economical"
      ],
      "bodyText": "<p>Insufficient forecasting for solar PV deployment creates obstacles in achieving medium and long-term power sector goals. Solar PV deployment surpassed its target several years ahead of schedule, resulting in government-issued FiT draft policies being introduced and subsequently revoked, causing uncertainty for project<br>developers.</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/361dcc12567f456fb39f3faf1b8da337",
      "negativePositive": "0",
      "lockInType": [
        "Technological (and infrastructural)"
      ],
      "bodyText": "<p>Ambitious policies focusing on one specific technology can lead to the sudden deployment of a investments and workforce, potentially limiting the availability of funds and skilled professionals for other essential domains requiring adjacent expertise and similar cash inflows, for example grid infrastructure development.</p>"
    },
    {
      "contentTypeKey": "5781df7b-a32c-4493-b9fc-90c8e9efebb2",
      "udi": "umb://element/69b59c793f2a45008dfabbfa7c4ea265",
      "negativePositive": "0",
      "lockInType": [
        "Economical"
      ],
      "bodyText": "<p>Offering a FiT above the average LCOE cost of solar, as determined by Lee et al. (2019) at 87.5 USD per MWh in 2018, motivated investors to explore low-hanging fruit in high-potential locations and locked in overpriced PPAs. In contrast to other countries, Viet Nam's FiT were fixed and not dynamically adjusted depending on demand and deployment.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseLockInBlockList>
    <casePolicyBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b6d33d5b801843b195e972292f3cbb05"
      },
      {
        "contentUdi": "umb://element/b83adb1180da45e89d803a9c86a2c351"
      },
      {
        "contentUdi": "umb://element/653bf514ef614b8689b4c33ac0aac2ab"
      },
      {
        "contentUdi": "umb://element/1910f9b1cdb144ec985fed345dd29655"
      },
      {
        "contentUdi": "umb://element/7ab500dfedee4ddfb8cfe2e483612947"
      },
      {
        "contentUdi": "umb://element/832904abe8ad4244872f060b87776e93"
      },
      {
        "contentUdi": "umb://element/5aea0ea72f4a4fa488dacf856964b44b"
      },
      {
        "contentUdi": "umb://element/86e5c70e865d4339ab46d1ba26469259"
      },
      {
        "contentUdi": "umb://element/03b4ec694ddf40fc8237961d3365fec5"
      },
      {
        "contentUdi": "umb://element/56873d8dda4a4fccaa2248d2d2c9b098"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/b6d33d5b801843b195e972292f3cbb05",
      "title": "Policy 1",
      "instrumentsText": "<p>Viet Nam's Renewable Energy Development Strategy to 2030, Vision to 2050 is cited as the first roadmap to emphasise the role of<br>renewable energy sources for reaching Viet Nam's economic and social development goals. It calls for encouraging investments in the development of renewables (Decision 2068/QD-TTg). </p>\n<p>Impact: Low <br>Impact indicator: To be added</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Climate strategy"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Policy makers"
      ],
      "institutionalRequirement": "",
      "implementationStatus": [
        "Fully implemented"
      ],
      "monitoringAndEvaluation": "",
      "startDateOfImplementation": "2015-11-25T00:00:00",
      "endDateOfImplementation": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/b83adb1180da45e89d803a9c86a2c351",
      "title": "Policy 2",
      "instrumentsText": "<p>Import tax exemptions for solar panels components (Decision 11/2017/QD-TTg).</p>\n<p>Impact: medium<br>Impact indicator: To be added</p>",
      "policyDecision": [
        "Supportive"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Project developer"
      ],
      "institutionalRequirement": "",
      "implementationStatus": [
        "Fully implemented"
      ],
      "monitoringAndEvaluation": "",
      "startDateOfImplementation": "2017-06-01T00:00:00",
      "endDateOfImplementation": "2019-06-30T00:00:00"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/653bf514ef614b8689b4c33ac0aac2ab",
      "title": "Policy 3",
      "instrumentsText": "<p>Corporate Tax: Solar developers receive a corporat income tax exemption for the first four years of operation, followed by a gradual reduction, with a 50% income tax reduction for the subsequent nine years and a 10% reduction annually until the 15th year (Decision 11/2017/QD-TTg)</p>\n<p>Impact: Medium<br>Impact indicator: To be added</p>",
      "policyDecision": [
        "Supportive"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Project developer"
      ],
      "institutionalRequirement": "",
      "implementationStatus": [
        "Fully implemented"
      ],
      "monitoringAndEvaluation": "",
      "startDateOfImplementation": "2017-06-01T00:00:00",
      "endDateOfImplementation": "2019-06-30T00:00:00"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/1910f9b1cdb144ec985fed345dd29655",
      "title": "Policy 4",
      "instrumentsText": "<p>Utility-scale solar projects are granted land lease payment exemptions, which can span from 3 years to the entire project's lifespan, depending on the project's location (Decision 11/2017/QD-TTg).</p>\n<p>Impact: Medium<br>Impact indicator: To be added</p>",
      "policyDecision": [
        "Supportive"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Project developer"
      ],
      "institutionalRequirement": "",
      "implementationStatus": [
        "Fully implemented"
      ],
      "monitoringAndEvaluation": "",
      "startDateOfImplementation": "2017-06-01T00:00:00",
      "endDateOfImplementation": "2019-06-30T00:00:00"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/7ab500dfedee4ddfb8cfe2e483612947",
      "title": "Policy 5",
      "instrumentsText": "<p>Feed-in tariffs 1: Electricity of Vietnam Corporation (EVN) buys all the output from solar cells with an efficiency above 16% deployed before 30/6/2019 at a set price of 93.5 USD per MWh for 20 years (Decision 11/2017/QD-TTg)</p>\n<p>Impact: High</p>\n<p>Impact indicator [Ex-post]: *Solar capacity increased from 0.01GW at the end of 2016 to 5.0 GW at the end of 2019.</p>\n<p>* Solar generation increased from 0.01 TWh in 2016 to 5.25 TWh in 2019</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Project developer"
      ],
      "institutionalRequirement": "",
      "implementationStatus": [
        "Fully implemented"
      ],
      "monitoringAndEvaluation": "",
      "startDateOfImplementation": "2017-06-01T00:00:00",
      "endDateOfImplementation": "2019-06-30T00:00:00"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/832904abe8ad4244872f060b87776e93",
      "title": "Policy 6",
      "instrumentsText": "<p>Two-way FiT System for rooftop solar (buying and selling from the grid), with the same purchasing price than the Fit1 (Decision 11/2017/QD-TTg)</p>\n<p>Impact: Medium<br>Impact indicator: To be added</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Project developer"
      ],
      "institutionalRequirement": "",
      "implementationStatus": [
        "Fully implemented"
      ],
      "monitoringAndEvaluation": "",
      "startDateOfImplementation": "2017-06-01T00:00:00",
      "endDateOfImplementation": "2019-06-30T00:00:00"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/5aea0ea72f4a4fa488dacf856964b44b",
      "title": "Policy 7",
      "instrumentsText": "<p>Feed-in tariffs 2: set at 76.8 USD per MWh for floating PVs, 70.9 USD per MWh for ground PVs and 83.8 USD for rooftop PVs, with PPAs of 20 years for projects starting operating before 31/12/2020 (Decision 13/2020/QD-TTg).</p>\n<p>Impact: High<br>Impact indicator [Ex-post]: * Solar capacity increased from 5.0 GW at the end of 2019 to 16.7 GW at the end of 2021.<br>* Solar generation increased from 5.25 TWh in 2019 to 25.8 TWh in 2021.</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Project developer"
      ],
      "institutionalRequirement": "",
      "implementationStatus": [
        "Fully implemented"
      ],
      "monitoringAndEvaluation": "",
      "startDateOfImplementation": "2019-07-01T00:00:00",
      "endDateOfImplementation": "2020-12-31T00:00:00"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/86e5c70e865d4339ab46d1ba26469259",
      "title": "Policy 8",
      "instrumentsText": "<p>The FiT price adjusment for the Ninh Tuan province: The FiT price point was set back at 93.5 USD per MWh for PV projects located in the Ninh Tuan province that did not meet the FiT1 deadline, until the regional 2 GW target is met (Decision No.115/NQ-CP)</p>\n<p><br>Impact: Medium<br>Impact indicator (Ex- post): * As of January 2021, the solar capacity installed in Ninh Thuan was 2.26 GW, well above the 2 GW objective.</p>",
      "policyDecision": [
        "Re-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "State/Region"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Project developer"
      ],
      "institutionalRequirement": "",
      "implementationStatus": [
        "Fully implemented"
      ],
      "monitoringAndEvaluation": "",
      "startDateOfImplementation": "2018-08-31T00:00:00",
      "endDateOfImplementation": "2020-12-31T00:00:00"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/03b4ec694ddf40fc8237961d3365fec5",
      "title": "Policy 9",
      "instrumentsText": "<p>Rooftop solar panels will use gross metering instead of net metering (Decision No. 02/2019/QD-TTg).</p>\n<p>Impact: Medium<br>Impact indicator: To be added</p>",
      "policyDecision": [
        "Re-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Regulatory instruments - Others"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Project developer"
      ],
      "institutionalRequirement": "",
      "implementationStatus": [
        "Fully implemented"
      ],
      "monitoringAndEvaluation": "",
      "startDateOfImplementation": "2019-01-08T00:00:00",
      "endDateOfImplementation": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/56873d8dda4a4fccaa2248d2d2c9b098",
      "title": "Policy 10",
      "instrumentsText": "<p>FiT for projects that came online after 31/12/2020: these tariffs mostly target \"transitional plants\", projects signed PPAs with EVN but that failed to meet FiT deadlines. The price points are set at 51 USD per MWh for ground solar plants, 65 USD per MWh for floating solar plants (Decision 21/QD-BCT).</p>\n<p>Impact: High<br>Impact indicator:</p>",
      "policyDecision": [
        "Re-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Project developer"
      ],
      "institutionalRequirement": "",
      "implementationStatus": [
        "Partially implemented"
      ],
      "monitoringAndEvaluation": "",
      "startDateOfImplementation": "2023-01-07T00:00:00",
      "endDateOfImplementation": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </casePolicyBlockList>
    <sectorTag>
      <Value><![CDATA[[
  "Power"
]]]></Value>
    </sectorTag>
    <tags>
      <Value><![CDATA[[
  "Vietnam",
  "Power"
]]]></Value>
    </tags>
  </Properties>
</Content>