<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9867545-94b7-4de3-9af4-8ea18c7b4062" Alias="Countries" Level="2">
  <Info>
    <Parent Key="5267a6df-ed04-429d-9b0f-34cb75694e0f">Home</Parent>
    <Path>/Home/Countries</Path>
    <Trashed>false</Trashed>
    <ContentType>countries</ContentType>
    <CreateDate>2023-09-21T15:33:19</CreateDate>
    <NodeName Default="Countries" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="54400ca5-cdfe-43ea-85ac-6d82b5d77b08">Countries</Template>
  </Info>
  <Properties />
</Content>