<?xml version="1.0" encoding="utf-8"?>
<Content Key="df36fc9e-202e-49d7-92d2-da81b514c153" Alias="Methodology" Level="2">
  <Info>
    <Parent Key="5267a6df-ed04-429d-9b0f-34cb75694e0f">Home</Parent>
    <Path>/Home/Methodology</Path>
    <Trashed>false</Trashed>
    <ContentType>methodology</ContentType>
    <CreateDate>2023-10-05T08:47:03</CreateDate>
    <NodeName Default="Methodology" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="59d31004-db5f-41e3-8520-f851dda7777d">Methodology</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<h2 id="assessing-co-benefits-of-replacing-coal-with-renewables-in-the-power-sector">Assessing co-benefits of replacing coal with renewables in the power sector</h2>
<h3 id="overview">Overview</h3>
<p>Decarbonisation of the power sector is not only important for climate change mitigation, but also critical in supporting the achievement of the Sustainable Development Goals (SDGs). A shift from coal-fired power generation to renewable energy sources has the potential to generate co-benefits such as employment opportunities and reduce air pollution from burning fossil fuels. To illustrate the potential for such co-benefits, we have developed an “SDG tool” analysis framework that estimates i) the employment potentials (contributing to SDG8) and ii) the air pollution reduction and health benefits potential (contributing to SDG3) of an accelerated phase-out of coal-fired power generation and replacement with solar and wind energy. The co-benefits analysis applied focuses on the <em>electricity sector</em> and specifically on benefits from phasing out coal that can positively impact development.</p>
<p>We have applied our SDG tool to two test case countries, Poland and Pakistan, both shown in the National Pathway Explorer. This section summarises the general methodology and key underlying assumptions. More details and country-specific information for Pakistan and Poland can be found in the <a rel="noopener" href="https://toolbox.climateanalytics.org/media/final_draft_co-benefitstechnicalbackgrounddoc_short.pdf" target="_blank">Technical Background document</a> for the co-benefits results.</p>]]></Value>
    </bodyText>
  </Properties>
</Content>