<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee7fee6e-f9c2-45ca-ac3d-0d269e08e344" Alias="Cases" Level="2">
  <Info>
    <Parent Key="5267a6df-ed04-429d-9b0f-34cb75694e0f">Home</Parent>
    <Path>/Home/Cases</Path>
    <Trashed>false</Trashed>
    <ContentType>cases</ContentType>
    <CreateDate>2023-10-03T15:52:38</CreateDate>
    <NodeName Default="Cases" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="59bab912-1658-4ddf-bbd5-f5bad6e7b3b9">Cases</Template>
  </Info>
  <Properties />
</Content>