<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdaf155d-a49c-49bb-b409-aec8617ac692" Alias="India: Renewable energy policy" Level="3">
  <Info>
    <Parent Key="ee7fee6e-f9c2-45ca-ac3d-0d269e08e344">Cases</Parent>
    <Path>/GMPA/Cases/IndiaRenewableEnergyPolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>case</ContentType>
    <CreateDate>2023-11-06T14:36:38</CreateDate>
    <NodeName Default="India: Renewable energy policy" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8dbf814c-b0e7-4947-a2a7-df45c3781cef">Case</Template>
  </Info>
  <Properties>
    <caseCountryBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b10e80ac588a4817844d85eb7ba5d5b6"
      },
      {
        "contentUdi": "umb://element/a0bc9c68644e48a0bbbfd01379342f08"
      },
      {
        "contentUdi": "umb://element/14818dbf687c4e49826e94d70bc91a85"
      },
      {
        "contentUdi": "umb://element/04f66c4adbec4c6196174797325ed8ce"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/b10e80ac588a4817844d85eb7ba5d5b6",
      "traction": [
        "Geographical"
      ],
      "descriptionOfEnablingFactor": "<p>High solar and wind potential (1490 GW). As a tropical country, India has many hours of available sunshine per day and one of the longest coastlines. [2]</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/a0bc9c68644e48a0bbbfd01379342f08",
      "traction": [
        "Strengthning policy instruments"
      ],
      "descriptionOfEnablingFactor": "<p>Overarching and cross-cutting policy framework to create enabling environment and ambitious renewable energy target.</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/14818dbf687c4e49826e94d70bc91a85",
      "traction": [
        "Institutional framework and governance structure"
      ],
      "descriptionOfEnablingFactor": "<p>Consistent cross-party political agreement to increase renewable energy capacity. Dedicated ministry for renewable energy and establishment of other statutory organisations for policy implementation and monitoring.</p>"
    },
    {
      "contentTypeKey": "e0c934fe-087e-4521-9176-9a0723b8b34c",
      "udi": "umb://element/04f66c4adbec4c6196174797325ed8ce",
      "traction": [
        "Institutional framework and governance structure"
      ],
      "descriptionOfEnablingFactor": "<p>Proactive policy development at the sub-national level.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </caseCountryBlockList>
    <caseIntroduction>
      <Value><![CDATA[<p>Between 2015-2022 renewable energy capacity increased to 125 GW (30%) from 45 GW (15%).</p>
<p>Solar capacity increased from 6 GW to 60 GW. [1]</p>]]></Value>
    </caseIntroduction>
    <caseLockInBlockList>
      <Value><![CDATA[]]></Value>
    </caseLockInBlockList>
    <casePolicyBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a70ad81f3e504bd9b6e58ca544321b14"
      },
      {
        "contentUdi": "umb://element/c13bf98d881848bd930ceeac7e7a4900"
      },
      {
        "contentUdi": "umb://element/598e0d098998429a9e9be2c2939dcc90"
      },
      {
        "contentUdi": "umb://element/d02a0fe6e53f472abc366b6c02f5c97f"
      },
      {
        "contentUdi": "umb://element/bc891c433d18469088c7bc656abb4511"
      },
      {
        "contentUdi": "umb://element/141cd6e9a79f415484bc17984196bf18"
      },
      {
        "contentUdi": "umb://element/1ef44669e14942c7b8b7a22ea2ec7b48"
      },
      {
        "contentUdi": "umb://element/cbd0ec892414476185342cecbe45eaa4"
      },
      {
        "contentUdi": "umb://element/65a2edcc02194538adf218c0e6e4482e"
      },
      {
        "contentUdi": "umb://element/599b786206fb4eb38be1d251e5f2eeb3"
      },
      {
        "contentUdi": "umb://element/cd09aeac86ea418cafe39ad26e36b1c2"
      },
      {
        "contentUdi": "umb://element/83eeda577a434c01920b7f30c2a97ebf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/a70ad81f3e504bd9b6e58ca544321b14",
      "title": "Policy 1",
      "instrumentsText": "<p>\"National Solar Mission: One of the eight missions under National Action Plan for Climate Change (NAPCC)<br>Original target: 20 GW of solar power by 2021-22<br>Revised target: 100 GW of solar power by 2021-22 (approved in 2015) [3]\"</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Climate strategy"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": "",
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Policy makers"
      ],
      "institutionalRequirement": "",
      "implementationStatus": [
        "Fully implemented"
      ],
      "monitoringAndEvaluation": "Launched in 2010, was scaled up in 2015.",
      "startDateOfImplementation": "2010-01-01T00:00:00",
      "endDateOfImplementation": "2022-01-01T00:00:00",
      "impactLevel": [
        "Medium"
      ],
      "impactEvaluation": [
        "ex-post"
      ],
      "impactIndicator": "<p>The National Solar Mission set ambitious targets for solar energy capacity installation. India has made substantial progress in increasing its solar capacity. By 2022, India had achieved 60 GW of installed solar capacity, a significant increase from the initial target of 20 GW by 2022, but fall short on the revised target of 100GW. [14]</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/c13bf98d881848bd930ceeac7e7a4900",
      "title": "Policy 2",
      "instrumentsText": "<p>NDC: As a signatory of the 2015 Paris Agreement, India committed to submitting NDCs every five years. India's conditional NDC targets include a renewable energy capacity target, which is updated over time. India's latest NDC has a target of 50% power generation from non-fossil sources by 2030.</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Target"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Voluntary and Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Policy makers"
      ],
      "institutionalRequirement": "",
      "implementationStatus": [
        "Fully implemented"
      ],
      "monitoringAndEvaluation": "First submitted in 2015, revision in 2022.",
      "startDateOfImplementation": "2015-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "Medium"
      ],
      "impactEvaluation": [
        "ex-post"
      ],
      "impactIndicator": "<p>Although India missed its 2022 renewable energy target of 175 GW, according to National Electricity Plan, the target is achievable.</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/598e0d098998429a9e9be2c2939dcc90",
      "title": "policy 3",
      "instrumentsText": "<p>As per the Indian Electricity Act 2003, Renewable Purchase Obligations (RPOs) mandate that all electricity distribution licensees should purchase or produce a minimum specified quantity of their requirements from renewable energy sources. [4]</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Regulatory instruments - Others"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Bussiness"
      ],
      "institutionalRequirement": "The State Electricity Regulatory Commissions fix the minimum RPO for the state.",
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2011-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": "",
      "impactIndicator": ""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/d02a0fe6e53f472abc366b6c02f5c97f",
      "title": "policy 4",
      "instrumentsText": "<p>A Renewable Energy Certificate (REC) is a market-based instrument that provides flexibility to obligated entities to achieve the RPO in a cost-efficient manner. Under the REC mechanism, renewable energy generators earn certificates for every 1 MWh of electricity they produce from renewable sources. These certificates can then be sold to obligated entities, such as power distribution companies (DISCOMs) and large industrial consumers, who are required to meet Renewable Purchase Obligations (RPOs) as mandated by regulatory authorities.</p>",
      "policyDecision": [
        "Supportive"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Regulatory instruments - Others"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Voluntary"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Bussiness"
      ],
      "institutionalRequirement": "Central Electricity Regulatory Commission ",
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2010-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "Medium"
      ],
      "impactEvaluation": [
        "ex-post"
      ],
      "impactIndicator": "<p>Renewable certification rate rose sharply from 2% in 2011–12 to 15% in 2014–15, it subsequently dropped to 6% during 2017–19 as REC market prices plummeted and the inventory of unsold RECs accumulated. [13]</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/bc891c433d18469088c7bc656abb4511",
      "title": "policy 5",
      "instrumentsText": "<p>Generation Based Incentives (GBIs) are schemes for solar and wind. A financial incentive is provided to solar and wind energy generators while the government provides a per unit subsidy to the electricity supplied to the grid.  [5]</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Bussiness"
      ],
      "institutionalRequirement": "\"Indian Renewable Energy Development Agency  Central Electricity Regulatory Commission   State Electricity Regulatory Commission  \"",
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2008-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": [
        "ex-post"
      ],
      "impactIndicator": "<p>This scheme has proven to have subsidy recovery potential in excess of 100%, indicating interest arbitrage as the government has positive cash flows (i.e., it is making a profit). [7]</p>",
      "monitoringAndEvaluation": "GBI is applicable for a period of 10 years from the inception of the project and are over and above any financial assistance provided by states."
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/141cd6e9a79f415484bc17984196bf18",
      "title": "policy 6",
      "instrumentsText": "<p>Viability Gap Funding (VGF) is typically provided by the government or relevant authorities to bridge the gap between project costs and expected revenue, making projects financially feasible and attractive for private sector investors. </p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Direct investment"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Voluntary and Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Private sector"
      ],
      "institutionalRequirement": "Ministry of New and Renewable Energy (MNRE)",
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2010-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": "",
      "impactIndicator": "",
      "monitoringAndEvaluation": "VGF started with solar and wind projects, but is now also available for battery energy storage systems (BESS) and electrolyser manufacturing."
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/1ef44669e14942c7b8b7a22ea2ec7b48",
      "title": "policy 7",
      "instrumentsText": "",
      "policyDecision": "",
      "policyOrigin": "",
      "typeOfPolicyInstrumentDropdown": "",
      "jurisdiction": "",
      "enforcementLevel": "",
      "sectoralCoverage": "",
      "targetGroup": "",
      "institutionalRequirement": "",
      "implementationStatus": "",
      "startDateOfImplementation": "",
      "endDateOfImplementation": "",
      "impactLevel": [
        "Other"
      ],
      "impactEvaluation": "",
      "impactIndicator": "<p>Insufficient information to assess impact as the scheme only started in 2022.</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/cbd0ec892414476185342cecbe45eaa4",
      "title": "policy 8",
      "instrumentsText": "<p>Inter State Transmissions System (ISTS) is a charge waiver for solar and wind projects commissioned before 30 June 2023. The waivers are applicable for 25 years from the commissioning date of the transmission and sale of entities with Renewable Purchase Obligations (RPOs). [8]</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Economic instruments - Fiscal incentives"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": "",
      "institutionalRequirement": "Ministry of Power",
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2020-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": "",
      "impactIndicator": "<p>It is difficult to assess impact in the early stages of implementation, however, the ISTS charge waiver made it more financially attractive for developers to set up solar and wind projects in states where renewable resources were abundant. This policy encouraged the development of renewable energy projects in regions with high renewable energy potential.</p>",
      "monitoringAndEvaluation": "\"In June 2021, waivers were extended for projects commissioned up to 30 June 2025.  In 2023, battery storage system and green hydrogen and green ammonia projects become eligible for the waiver.\""
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/65a2edcc02194538adf218c0e6e4482e",
      "title": "policy 9",
      "instrumentsText": "<p>The Solar parks scheme aimed to set up at least 25 Solar Parks and Ultra Mega Solar Power Projects targeting 20,000 MW of installed solar capacity within five years, starting from 2014-15. [9]</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Bureaucratic"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Policy support"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": "",
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Private sector"
      ],
      "institutionalRequirement": "Ministry of New and Renewable Energy (MNRE)",
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2014-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "High"
      ],
      "impactEvaluation": [
        "ex-post"
      ],
      "impactIndicator": "<p>\"The initial target was for 25 industrial solar parks with a combined capacity of 20 GW. In 2017, this target was doubled to 40 GW by 2022. [10]<br>13 Solar Parks have been set up so far with a total capacity of 25 GW. \"</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/599b786206fb4eb38be1d251e5f2eeb3",
      "title": "policy 10",
      "instrumentsText": "<p>The Electricity (Promotion of Generation of Electricity from Must-Run Power Plant) Rules provide that wind, solar, wind-solar hybrid, hydropower plants  are treated as must-run power plants. In the event of a curtailment of supply from a must run power plant, compensation would be payable by the procurer to the MRPP (Must Run Power Plant) at the rates specified in the power purchase/supply agreement. [11]</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Regulatory instruments - Others"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Private sector"
      ],
      "institutionalRequirement": "Ministry of New and Renewable Energy (MNRE)",
      "implementationStatus": [
        "Fully implemented"
      ],
      "startDateOfImplementation": "2021-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "Medium"
      ],
      "impactEvaluation": [
        "ex-post"
      ],
      "impactIndicator": "<p>Must run' power plants face challenges due to grid constraints and power dispatch issues. It emphasises the need for a more flexible approach to ensure efficient integration of renewable energy sources into the country's power grid, promoting sustainability. [12]</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/cd09aeac86ea418cafe39ad26e36b1c2",
      "title": "policy 11",
      "instrumentsText": "<p>Renewable generation obligation: Thermal power plants which start their commercial operations between 1 April 2023 and 31 March 2025 will have to produce a minimum of 40% of the total power generated at their power plant through renewable sources.</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Regulatory instruments - Others"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": [
        "Private sector"
      ],
      "institutionalRequirement": "Ministry of New and Renewable Energy (MNRE)",
      "implementationStatus": [
        "Planned"
      ],
      "startDateOfImplementation": "2023-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "Other"
      ],
      "impactEvaluation": "",
      "impactIndicator": "<p>Difficult to assess impact as it has only recently been implemented.</p>"
    },
    {
      "contentTypeKey": "1e64dc47-9486-4874-bae2-20baa89ebb6b",
      "udi": "umb://element/83eeda577a434c01920b7f30c2a97ebf",
      "title": "policy 12",
      "instrumentsText": "<p>The Energy Storage Obligation (ESO) specifies that energy storage should be set at 1% of total energy consumed from solar and wind in 2023-2024 and gradually rise to 4% by 2029-2030.</p>",
      "policyDecision": [
        "Pro-active"
      ],
      "policyOrigin": [
        "Legislative"
      ],
      "typeOfPolicyInstrumentDropdown": [
        "Regulatory instruments - Others"
      ],
      "jurisdiction": [
        "National"
      ],
      "enforcementLevel": [
        "Mandatory"
      ],
      "sectoralCoverage": [
        "Energy"
      ],
      "targetGroup": "",
      "institutionalRequirement": "Ministry of New and Renewable Energy (MNRE)",
      "implementationStatus": [
        "Planned"
      ],
      "startDateOfImplementation": "2022-01-01T00:00:00",
      "endDateOfImplementation": "",
      "impactLevel": [
        "Other"
      ],
      "impactEvaluation": "",
      "impactIndicator": "<p>Difficult to assess impact as it has only recently been implemented.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </casePolicyBlockList>
    <sectorTag>
      <Value><![CDATA[[
  "Power"
]]]></Value>
    </sectorTag>
    <tags>
      <Value><![CDATA[[
  "India"
]]]></Value>
    </tags>
  </Properties>
</Content>