<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="78036ba9-0000-0000-0000-000000000000" Alias="editor">
  <Info>
    <Sections>content,media</Sections>
    <Icon>icon-tools</Icon>
    <Name>Editors</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[P,K,F,ï,D,C,N,U,Z,A,O,M,S]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>true</HasAccessToAllLanguages>
  </Languages>
</UserGroup>