@model ContentPickerGridControl.ContentPickerViewModel
@{
    if (Model.View != null)
    {
        await Html.RenderPartialAsync(
            $"~/Views/Partials/CustomGrid/Controls/ContentPickerViews/{Model.View}.cshtml",
            Model.ViewModel
        );
    }
    else
    {
        <div clas="alert alert-warning">
            Content Picker control picked an unknown ContentType!
        </div>
    }
}