@using GMPA.Core.Grid.Enums
@model HeaderViewModel;

@switch (Model.HeaderSize)
{
    case HeaderSize.Main:
        <div class="h1">@Model.Title</div>
        break;
    case HeaderSize.Medium:
        <div class="h3">@Model.Title</div>
        break;
    case HeaderSize.Small:
        <div class="h5">@Model.Title</div>
        break;
    case HeaderSize.Large:
    default:
        <div class="h2">@Model.Title</div>
        break;
}