@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<GMPA.Core.Models.Umbraco.Header>>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@* Render the Heading property from the Element Type selected as Content section *@
<h1 style="text-align: right; margin-right: 100px;"><b>@Model.Title</b></h1>

@* Render the block areas *@
@* @await Html.GetBlockGridItemAreasHtmlAsync(Model) *@