@model List<GMPA.Core.Models.Umbraco.Country>

<h4 style="border-bottom: 1px solid #000; margin-top: 20px; text-align: center">Countries</h4>
<ul class="countries-list">
    @foreach (var country in Model)
    {
        @if (country.Active.First() == "True")
        {
            <li class="countries-list-item-active">
                <a href="@country.Url()" class="countries-link-active">
                    <span class="side-nav-list-item-text">
                        @country.Name
                    </span>
                </a>
            </li>
        }
        else
        {
            <li class="countries-list-item-disabled">
                <span class="side-nav-list-item-text">
                    @country.Name
                </span>
            </li>
        }
    }
</ul>