<?xml version="1.0" encoding="utf-8"?>
<User Key="ffffffff-0000-0000-0000-000000000000" Alias="umbraco@arlanet.com">
  <Info>
    <Comments />
    <Name>Arlanet B.V.</Name>
    <Username>umbraco@arlanet.com</Username>
    <Email>umbraco@arlanet.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEE5dejMIUqYvID8MMy0kNxpJdV+4r5saFouXl/0tFiUYluaAJ1GHrpl7fjYeFLUKpg==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>