<?xml version="1.0" encoding="utf-8"?>
<User Key="ffffffff-0000-0000-0000-000000000000" Alias="quintin@arlanet.com">
  <Info>
    <Comments />
    <Name>Quintin Yu</Name>
    <Username>quintin@arlanet.com</Username>
    <Email>quintin@arlanet.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEOS7xXyIkNRvBM3vM53KPxUiBH1+2pQri1nY+HaYYWQlJOhknn+xu3adSEHKutYK3A==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>