<?xml version="1.0" encoding="utf-8"?>
<Media Key="35f86267-2a6d-49b3-a9c3-46c896e97288" Alias="GMPA Icon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GMPAIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-21T12:28:15</CreateDate>
    <NodeName Default="GMPA Icon" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mfrpqnln/gmpa_icon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>