<?xml version="1.0" encoding="utf-8"?>
<Media Key="36afbe92-4dba-4901-9f3e-3cb0a54507de" Alias="DummyLogo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DummyLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-21T10:39:08</CreateDate>
    <NodeName Default="DummyLogo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ss5k4nv0/dummylogo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>