<?xml version="1.0" encoding="utf-8"?>
<Media Key="af1e4dd8-d94c-4088-bea6-0fb290a322df" Alias="Favicon Dummy" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FaviconDummy</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-07T11:57:37</CreateDate>
    <NodeName Default="Favicon Dummy" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1zgb3l0m/favicon_dummy.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>