<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd987bf1-327f-4b28-9a3f-1c8d13cb4a97" Alias="Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-09T12:01:02</CreateDate>
    <NodeName Default="Image" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/433jrpl5/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>