<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8ef9f4f-f56b-42c6-994b-2517033aa180" Alias="Dummy Graph" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DummyGraph</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-24T14:40:05</CreateDate>
    <NodeName Default="Dummy Graph" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jgpp5sdl/dummy_graph.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>