<?xml version="1.0" encoding="utf-8"?>
<Media Key="dde600be-257a-4860-927b-9fe82b06bab3" Alias="Dummypicture" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dummypicture</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-25T10:18:17</CreateDate>
    <NodeName Default="Dummypicture" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xaaonxl0/dummypicture.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>