.main-with-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 300px;
    padding-right: 100px;
    box-sizing: content-box;
    margin: 10px auto;
    flex: 1;
}
