$c-brand-1: #1a3877; // Blue
$c-brand-2: #ba6d06; // Dark Gold

$c-layout-1: #ecf7fc; // Lightblue
$c-layout-1-50: rgba(65, 182, 230, 0.5); // Lightblue 50%
$c-layout-1-50: rgba(65, 182, 230, 0.2); // Lightblue 20%
$c-layout-2: #d19544; // Gold

$c-white: #ffffff; // White
$c-white-20: rgba(255, 255, 255, 0.2); // White 20%
$c-white-10: rgba(255, 255, 255, 0.1); // White 10%

$c-black: #000000; // Black
$c-black-40: rgba(0, 0, 0, 0.4); // Black 40%
$c-black-20: rgba(0, 0, 0, 0.2); // Black 20%
$c-black-5: rgba(0, 0, 0, 0.05); // Black 5%

$c-signal-error: #d32e2e; // Error: red
